
@{
    ViewBag.Title = "DrBheemRao";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <img src="Img/DrBhimraoAmbedkar.jpg" class=" img-responsive" style="float:right; margin-left:20px;margin-bottom:20px;" width="350">

                        <h3 class="halantOrange">डा. बाबा साहब अंबेडकर</h3>
                        <p>डॉ. बाबासाहेब अम्बेडकर का मूल नाम भीमराव था। उनके पिताश्री रामजी वल्द मालोजी सकपाल महू में ही मेजर सूबेदार के पद पर एक सैनिक अधिकारी थे। अपनी सेवा के अंतिम वर्ष उन्‍होंने और उनकी धर्मपत्नी भीमाबाई ने काली पलटन स्थित जन्मस्थली स्मारक की जगह पर विद्यमान एक बैरेक में गुजारे। सन् 1891 में 14 अप्रैल के दिन जब रामजी सूबेदार अपनी ड्यूटी पर थे, 12 बजे यहीं भीमराव का जन्म हुआ। कबीर पंथी पिता और धर्मर्मपरायण माता की गोद में बालक का आरंभिक काल अनुशासित रहा ।</p>
                        <h4 class="halantGreen">शिक्षा</h4>
                        <p>बालक भीमराव का प्राथमिक शिक्षण दापोली और सतारा में हुआ। बंबई के एलफिन्स्टोन स्कूल से वह 1907 में मैट्रिक की परीक्षा पास की। इस अवसर पर एक अभिनंदन समारोह आयोजित किया गया और उसमें भेंट स्वरुप उनके शिक्षक श्री कृष्णाजी अर्जुन केलुस्कर ने स्वलिखित पुस्तक 'बुद्ध चरित्र' उन्हें प्रदान की। बड़ौदा नरेश सयाजी राव गायकवाड की फेलोशिप पाकर भीमराव ने 1912 में मुबई विश्वविद्यालय से स्नातक परीक्षा पास की। संस्कृत पढने पर मनाही होने से वह फारसी लेकर उत्तीर्ण हुये।</p>
                        <h4 class="halantGreen">अमेरिका के कोलंबिया विश्वविद्यालय</h4>
                        <p>बी.ए. के बाद एम.ए. के अध्ययन हेतु बड़ौदा नरेश सयाजी गायकवाड़ की पुनः फेलोशिप पाकर वह अमेरिका के कोलंबिया विश्वविद्यालय में दाखिल हुये। सन 1915 में उन्होंने स्नातकोत्तर उपाधि की परीक्षा पास की। इस हेतु उन्होंने अपना शोध 'प्राचीन भारत का वाणिज्य' लिखा था। उसके बाद 1916 में कोलंबिया विश्वविद्यालय अमेरिका से ही उन्होंने पीएच.डी. की उपाधि प्राप्त की, उनके पीएच.डी. शोध का विषय था 'ब्रिटिश भारत में प्रातीय वित्त का विकेन्द्रीकरण'।</p>
                        <h4 class="halantGreen">लंदन स्कूल ऑफ इकोनामिक्स एण्ड पोलिटिकल सांइस</h4>
                        <p>फेलोशिप समाप्त होने पर उन्हें भारत लौटना था अतः वे ब्रिटेन होते हुये लौट रहे थे। उन्होंने वहां लंदन स्कूल ऑफ इकोनामिक्स एण्ड पोलिटिकल सांइस में एम.एससी. और डी. एस सी. और विधि संस्थान में बार-एट-लॉ की उपाधि हेतु स्वयं को पंजीकृत किया और भारत लौटे। सब से पहले छात्रवृत्ति की शर्त के अनुसार बडौदा नरेश के दरबार में सैनिक अधिकारी तथा वित्तीय सलाहकार का दायित्व स्वीकार किया। पूरे शहर में उनको किराये पर रखने को कोई तैयार नही होने की गंभीर समस्या से वह कुछ समय के बाद ही मुंबई वापस आये।</p>
                        <h4 class="halantGreen">दलित प्रतिनिधित्व</h4>
                        <p>वहां परेल में डबक चाल और श्रमिक कॉलोनी में रहकर अपनी अधूरी पढाई को पूरी करने हेतु पार्ट टाईम अध्यापकी और वकालत कर अपनी धर्मपत्नी रमाबाई के साथ जीवन निर्वाह किया। सन 1919 में डॉ. अम्बेडकर ने राजनीतिक सुधार हेतु गठित साउथबरो आयोग के समक्ष राजनीति में दलित प्रतिनिधित्व के पक्ष में साक्ष्य दी।</p>
                        <h4 class="halantGreen">अशिक्षित और निर्धन लोगों को जागरुक बनाने के लिया काम</h4>
                        <p>उन्‍होंने मूक और अशिक्षित और निर्धन लोगों को जागरुक बनाने के लिये मूकनायक और बहिष्कृत भारत साप्ताहिक पत्रिकायें संपादित कीं और अपनी अधूरी पढ़ाई पूरी करने के लिये वह लंदन और जर्मनी जाकर वहां से एम. एस सी., डी. एस सी., और बैरिस्टर की उपाधियाँ प्राप्त की। उनके एम. एस सी. का शोध विषय साम्राज्यीय वित्त के प्राप्तीय विकेन्द्रीकरण का विश्लेषणात्मक अध्ययन और उनके डी.एससी उपाधि का विषय रूपये की समस्या उसका उद्भव और उपाय और भारतीय चलन और बैकिंग का इतिहास था।</p>
                        <h4 class="halantGreen">डी. लिट्. की मानद उपाधियों से सम्मानित</h4>
                        <p>बाबासाहेब डॉ. अम्बेडकर को कोलंबिया विश्वविद्यालय ने एल.एलडी और उस्मानिया विश्वविद्यालय ने डी. लिट्. की मानद उपाधियों से सम्मानित किया था। इस प्रकार डॉ. अम्बेडकर वैश्विक युवाओं के लिये प्रेरणा बन गये क्योंकि उनके नाम के साथ बीए, एमए, एमएससी, पीएचडी, बैरिस्टर, डीएससी, डी.लिट्. आदि कुल 26 उपाधियां जुडी है।</p>
                        <h4 class="halantGreen">योगदान:</h4>
                        <p>भारत रत्न डॉ. बी. आर. अम्बेडकर ने अपने जीवन के 65 वर्षों में देश को सामाजिक, आर्थिक, राजनीतिक, शैक्षणिक, धार्मिक, ऐतिहासिक, सांस्कृतिक, साहित्यिक, औद्योगिक, संवैधानिक इत्यादि विभिन्न क्षेत्रों में अनगिनत कार्य करके राष्ट्र निर्माण में महत्वपूर्ण योगदान दिया, उनमें से मुख्य निम्‍नलिखित हैं :-</p>
                        <h4 class="halantGreen">सामाजिक एवं धार्मिक योगदान:</h4>
                        <p>मानवाधिकार जैसे दलितों एवं दलित आदिवासियों के मंदिर प्रवेश, पानी पीने, छुआछूत, जातिपाति, ऊॅच-नीच जैसी सामाजिक कुरीतियों को मिटाने के लिए मनुस्मृति दहन (1927), महाड सत्याग्रह (वर्ष 1928), नासिक सत्याग्रह (वर्ष 1930), येवला की गर्जना (वर्ष 1935) जैसे आंदोलन चलाये।</p>
                        <p>बेजुबान, शोषित और अशिक्षित लोगों को जगाने के लिए वर्ष 1927 से 1956 के दौरान मूक नायक, बहिष्कृत भारत, समता, जनता और प्रबुद्ध भारत नामक पांच साप्ताहिक एवं पाक्षिक पत्र-पत्रिकाओं का संपादन किया।</p>
                        <p>कमजोर वर्गों के छात्रों को छात्रावासों, रात्रि स्कूलों, ग्रंथालयों तथा शैक्षणिक गतिविधियों के माध्यम से अपने दलित वर्ग शिक्षा समाज (स्था. 1924) के जरिये अध्ययन करने और साथ ही आय अर्जित करने के लिए उनको सक्षम बनाया। सन् 1945 में उन्होंने अपनी पीपुल्‍स एजुकेशन सोसायटी के जरिए मुम्बई में सिद्वार्थ महाविद्यालय तथा औरंगाबाद में मिलिन्द महाविद्यालय की स्थापना की। बौद्धिक, वैज्ञानिक, प्रतिष्ठा, भारतीय संस्कृति वाले बौद्ध धर्म की 14 अक्टूबर 1956 को 5 लाख लोगों के साथ नागपुर में दीक्षा ली तथा भारत में बौद्ध धर्म को पुनर्स्‍थापित कर अपने अंतिम ग्रंथ ''द बुद्धा एण्ड हिज धम्मा'' के द्वारा निरंतर वृद्धि का मार्ग प्रशस्त किया।</p>
                        <p>जात पांत तोडक मंडल (वर्ष 1937) लाहौर, के अधिवेशन के लिये तैयार अपने अभिभाषण को जातिभेद निर्मूलन नामक उनके ग्रंथ ने भारतीय समाज को धर्मग्रंथों में व्याप्त मिथ्या, अंधविश्वास एवं अंधश्रद्धा से मुक्ति दिलाने का कार्य किया। हिन्दू विधेयक संहिता के जरिए महिलाओं को तलाक, संपत्ति में उत्तराधिकार आदि का प्रावधान कर उसके कार्यान्वयन के लिए वह जीवन पर्यन्त संघर्ष करते रहे।</p>
                        <h4 class="halantGreen">आर्थिक, वित्तीय और प्रशासनिक योगदान:</h4>
                        <p>भारत में रिजर्व बैंक ऑफ इण्डिया की स्थापना डॉ. अम्बेडकर द्वारा लिखित शोध ग्रंथ रूपये की समस्या-उसका उदभव तथा उपाय और भारतीय चलन व बैकिंग का इतिहास, ग्रन्थों और हिल्टन यंग कमीशन के समक्ष उनकी साक्ष्य के आधार पर 1935 से हुई। </p>
                        <p>उनके दूसरे शोध ग्रंथ 'ब्रिटिश भारत में प्रांतीय वित्त का विकास' के आधार पर देश में वित्त आयोग की स्थापना हुई। </p>
                        <p>कृषि में सहकारी खेती के द्वारा पैदावार बढाना, सतत विद्युत और जल आपूर्ति करने का उपाय बताया। </p>
                        <p>औद्योगिक विकास, जलसंचय, सिंचाई, श्रमिक और कृषक की उत्पादकता और आय बढाना, सामूहिक तथा सहकारिता से प्रगत खेती करना, जमीन के राज्य स्वामित्व तथा राष्ट्रीयकरण से सर्वप्रभुत्व सम्पन्न समाजवादी गणराज्य की स्थापना करना।</p>
                        <p> सन 1945 में उन्होंने महानदी का प्रबंधन की बहुउददे्शीय उपयुक्तता को परख कर देश के लिये जलनीति तथा औद्योगिकरण की बहुउद्देशीय आर्थिक नीतियां जैसे नदी एवं नालों को जोड़ना, हीराकुण्ड बांध, दामोदर घाटी बांध, सोन नदी घाटी परियोजना, राष्ट्रीय जलमार्ग, केन्द्रीय जल एवं विद्युत प्राधिकरण बनाने के मार्ग प्रशस्त किये। </p>
                        <p>सन 1944 में प्रस्तावित केन्द्रिय जल मार्ग तथा सिंचाई आयोग के प्रस्ताव को 4 अप्रैल 1945 को वाइसराय द्वारा अनुमोदित किया गया तथा बड़े बांधोंवाली तकनीकों को भारत में लागू करने हेतु प्रस्तावित किया। </p>
                        <p>उन्होंने भारत के विकास हेतु मजबूत तकनीकी संगठन का नेटवर्क ढांचा प्रस्तुत किया। </p>
                        <p>उन्होंने जल प्रबंधन तथा विकास और नैसर्गिक संसाधनों को देश की सेवा में सार्थक रुप से प्रयुक्त करने का मार्ग प्रशस्त किया।</p>
                        <h4 class="halantGreen">संविधान तथा राष्ट्र निर्माण:</h4>
                        <p>उन्‍होंने समता, समानता, बन्धुता एवं मानवता आधारित भारतीय संविधान को 02 वर्ष 11 महीने और 17 दिन के कठिन परिश्रम से तैयार कर 26 नवंबर 1949 को तत्कालीन राष्ट्रपति डॉ. राजेन्द्र प्रसाद को सौंप कर देश के समस्त नागरिकों को राष्ट्रीय एकता, अखंडता और व्यक्ति की गरिमा की जीवन पध्दति से भारतीय संस्कृति को अभिभूत किया।</p>
                        <p>वर्ष 1951 में महिला सशक्तिकरण का हिन्दू संहिता विधेयक पारित करवाने में प्रयास किया और पारित न होने पर स्वतंत्र भारत के प्रथम कानून मंत्री के पद से इस्तीफा दिया। वर्ष 1955 में अपना ग्रंथ भाषाई राज्यों पर विचार प्रकाशित कर आन्ध्रप्रदेश, मध्यप्रदेश, बिहार, उत्तर प्रदेश और महाराष्ट्र को छोटे-छोटे और प्रबंधन योग्य राज्यों में पुनर्गठित करने का प्रस्ताव दिया था, जो उसके 45 वर्षों बाद कुछ प्रदशों में साकार हुआ।</p>
                        <p>निर्वाचन आयोग, योजना आयोग, वित्त आयोग, महिला पुरुष के लिये समान नागरिक हिन्दू संहिता, राज्य पुनर्गठन, बडे आकार के राज्यों को छोटे आकार में संगठित करना, राज्य के नीति निर्देशक तत्व, मौलिक अधिकार, मानवाधिकार, काम्पट्रोलर व ऑडीटर जनरल, निर्वाचन आयुक्त तथा राजनीतिक ढांचे को मजबूत बनाने वाली सशक्त, सामाजिक, आर्थिक, शैक्षणिक एवं विदेश नीति बनाई।</p>
                        <p>प्रजातंत्र को मजबूती प्रदान करने के लिए राज्य के तीनों अंगों न्यायपालिका, कार्यपालिका एवं विधायिका को स्वतंत्र और पृथक बनाया तथा समान नागरिक अधिकार के अनुरूप एक व्यक्ति, एक मत और एक मूल्य के तत्व को प्रस्थापित किया।</p>
                        <p>विधायिका, कार्यपालिका एवं न्यायपालिका में अनुसूचित जाति एवं जनजाति के लोगों की सहभागिता संविधान द्वारा सुनिश्चित की तथा भविष्य में किसी भी प्रकार की विधायिकता जैसे ग्राम पंचायत, जिला पंचायत, पंचायत राज इत्यादि में सहभागिता का मार्ग प्रशस्त किया।</p>
                        <p>सहकारी और सामूहिक खेती के साथ-साथ उपलब्ध जमीन का राष्ट्रीयकरण कर भूमि पर राज्य का स्वामित्व स्थापित करने तथा सार्वजनिक प्राथमिक उद्यमों यथा बैकिंग, बीमा आदि उपक्रमों को राज्य नियंत्रण में रखने की पुरजोर सिफारिश की तथा कृषि की छोटी जोतों पर निर्भर बेरोजगार श्रमिकों को रोजगार के अधिक अवसर प्रदान करने के लिए उन्होंने औद्योगीकरण की सिफारिश की।</p>
                        <h4 class="halantGreen">शिक्षा, सामाजिक सुरक्षा एवं श्रम कल्याण:</h4>
                        <p>वायसराय की कौंसिल में श्रम मंत्री की हैसियत से श्रम कल्याण के लिए श्रमिकों की 12 घण्टे से घटाकर 8 घण्टे कार्य-समय, समान कार्य समान वेतन, प्रसूति अवकाश, संवैतनिक अवकाश, कर्मचारी राज्य बीमा योजना, स्वास्थ्य सुरक्षा, कर्मचारी भविष्य निधि अधिनियम 1952 बनाना, मजदूरों एवं कमजोर वर्ग के हितों के लिए तथा सीधे सत्ता में भागीदारी के लिए स्वतंत्र मजदूर पार्टी का गठन कर 1937 के मुम्बई प्रेसिडेंसी चुनाव में 17 में से उन्‍होंने 15 सीटें जीतीं।</p>
                        <p>कर्मचारी राज्य बीमा के तहत स्वास्थ्य, अवकाश, अपंग-सहायता, कार्य करते समय आकस्मिक घटना से हुये नुकसान की भरपाई करने और अन्य अनेक सुरक्षात्मक सुविधाओं को श्रम कल्याण में शामिल किया।</p>
                        <p>कर्मचारियों को दैनिक भत्ता, अनियमित कर्मचारियों को अवकाश की सुविधा, कर्मचारियों के वेतन श्रेणी की समीक्षा, भविष्य निधि, कोयला खदान तथा माईका खनन में कार्यरत कर्मियों को सुरक्षा संशोधन विधेयक सन 1944 में पारित करने में उन्होंने महत्वपूर्ण भूमिका निभाई।</p>
                        <p>सन 1946 में उन्होंने निवास, जल आपूर्ति, शिक्षा, मनोरंजन, सहकारी प्रबंधन आदि से श्रम कल्याण नीति की नींव डाली तथा भारतीय श्रम सम्मेलन की शुरूआत की जो अभी निरंतर जारी है, जिसमें प्रतिवर्ष मजदूरों के ज्वलंत मुद्दों पर प्रधानमंत्री की उपस्थिति में चर्चा होती है और उसके निराकरण के प्रयास किये जाते है।</p>
                        <p>श्रम कल्याण निधि के क्रियान्वयन हेतु सलाहकार समिति बनाकर उसे जनवरी 1944 में अंजाम दिया। भारतीय सांख्यिकी अधिनियम पारित कराया ताकि श्रम की दशा, दैनिक मजदूरी, आय के अन्य स्रोत, मुद्रस्‍फीति, ऋण, आवास, रोजगार, जमापूंजी तथा अन्य निधि व श्रम विवाद से संबंधित नियम सम्भव कर दिया।</p>
                        <p>नवंबर 8, 1943 को उन्होंने 1926 से लंबित भारतीय श्रमिक अधिनियम को सक्रिय बनाकर उसके तहत भारतीय श्रमिक संघ संशोधन विधेयक प्रस्तावित किया और श्रमिक संघ को सख्ती से लागू कर दिया। स्वास्थ्य बीमा योजना, भविष्य निधि अधिनियम, कारखाना संशोधन अधिनियम, श्रमिक विवाद अधिनियम, न्यूनतम मजदूरी अधिनियम और विधिक हडताल के अधिनियमों को श्रमिकों के कल्याणार्थ निर्माण कराया।</p>
                        <p>नोट- यह लेख पीआईबी से लिया गया है, जिसे डॉ. अम्बेडकर प्रतिष्ठान के संपादक ने लिखा है।</p>
                        <p>Source: <a href="https://hindi.oneindia.com/news/features/biography-profile-dr-bhimrao-ambedkar-378167.html">https://hindi.oneindia.com/news/features/biography-profile-dr-bhimrao-ambedkar-378167.html</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

