
@{
    ViewBag.Title = "KushabhauThackeray";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <h2>कुशाभाऊ ठाकरे</h2>
                        <h3>(15 अगस्त 1922 – 28 दिसंबर 2003)</h3>
                        <h3>शत-शत नमन!</h3>
                        <p style="text-align: justify;">श्रीकुशाभाऊ ठाकरे नैतिकता, आदर्श व सिद्धांतों के प्रकाश स्तंभ थे। वे निष्काम कर्मयोगी थे। राष्ट्रीय स्वयंसेवक संघ और भारतीय जनता पार्टी की बुनियाद को मजबूत बनाने में उनका योगदान अमूल्य है। वे जीवनपर्यंत बेदाग रहे। श्री ठाकरे भाजपा के उन नेताओं में से थे, जिन्होंने साइकिल चलाकर और चने खाकर पार्टी का काम किया। यही कारण है कि पार्टी में उनका व्यापक प्रभाव था। श्री कुशाभाऊ ठाकरे का जन्म 15 अगस्त 1922 को मध्य प्रदेश स्थित धार में हुआ था। इनके पिता का नाम सुंदर राव श्रीपति राव ठाकरे और माता का नाम शांता भाई सुंदर राव ठाकरे था। इनकी शिक्षा धार और ग्वालियर में हुई थी। 1942 में संघ का प्रचारक बनने के बाद उन्होंने मध्यप्रदेश के कोने-कोने में निष्ठावान स्वयंसेवकों की सेना खड़ी की। वे कुशल संगठनकर्ता थे। श्री कुशाभाऊ ठाकरे संघ में काम की शुरुआत उस समय की थी, जब इस संगठन का विस्तार व्यापक नहीं था। सच तो यह है कि किसी विचारधारा और लक्ष्य के प्रति उनके समान निष्ठा विरले लोगों में देखी जाती है। उनके सार्वजनिक जीवन को दो हिस्सों में बांटा जा सकता है। वे प्रारंभ में केवल संघ के काम से जुड़े रहे। जनसंघ (अब भाजपा) की स्थापना के बाद उनका संबंध राजनैतिक गतिविधियों से हुआ। उन्होंने अपने-आपको संगठन तक सीमित रखा और संगठन को और मजबूत बनाने के लिए सदैव कार्य करते रहे।</p>
                        <p style="text-align: justify;">श्री कुशाभाऊ ठाकरे 1956 में मध्य प्रदेश सचिव (संगठन) बने। वे 1967 में भारतीय जन संघ के अखिल भारतीय सचिव बने। आपातकाल के दौरान वे 19 महीने जेल में रहे। 1980 में भाजपा के अखिल भारतीय सचिव बनाए गए। 1986 से 1991 तक वे अखिल भारतीय महासचिव व मध्य प्रदेश के प्रभारी रहे। 1998 में वे भाजपा के राष्ट्रीय अध्यक्ष बने और इस पद वे 2000 तक रहे। 28 दिसंबर 2003 को उनका देहांत हो गया।</p>
                        <p style="text-align: justify;">राष्ट्र के प्रति उनका समर्पण अटूट था। इंदौर में एक सम्मान समारोह में उन्होंने कहा कि हमारी सरकार ने तय किया है कि सामने वाले के पास परमाणु बम है, तो हमारा सिपाही तमंचे से नहीं लड़ेगा। हमने अपनी सेना को आधुनिक और आणविक क्षमता से लैस करना जरूरी समझा। हमें पता था कि ऐसा करने पर हमें कमजोर करने का प्रयास किया जाएगा, आर्थिक प्रतिबंध लगाए जाएंगे। उनको लगता है कि ऐसा करने से भारत डूब जाएगा, पर भारत हमेशा ही अपने पैरों पर खड़ा था, खड़ा है और हमेशा खड़ा रहेगा। देश के विकास में लगे 80 प्रतिशत साधन स्वदेशी हैं। विदेशी मदद तो मात्र 15-20 प्रतिशत है। हम सूखी रोटी खा लेंगे, पर पश्चिमी देशों के सामने हाथ नहीं फैलाएंगे। श्री ठाकरे स्वाभिमान पर समझौता करने वाले व्यक्ति नहीं थे, इसलिए वे राष्ट्र का मजबूत और शक्तिशाली देखना चाहते थे।</p>
                        <p style="text-align: justify;">श्री कुशाभाऊ ठाकरे का मानना था कि किसी राजनैतिक संगठन का उद्देश्य समाज के हर वर्ग की सुख-समृद्धि सुनिश्चित करना है। 7 फरवरी 1999 को भोपाल में श्री ठाकरे ने कहा कि भाजपा का लक्ष्य सिर्फ राजनीतिक सफलता पाना नहीं है। पार्टी का मकसद है कि समाज के सभी वर्गों में सुख और समृद्धि आए। आज जोड़-तोड़ और वर्गों में दरार चौड़ी करके राजनीतिक कामयाबी तो हासिल की जाती है, पर लोगों के दिलों में घर नहीं बनाया जा सकता। भाजपा वे रास्ते कभी नहीं अपनाएगी जो दूसरे दल अपनाते हैं।</p>
                        <p style="text-align: justify;">श्री कुशाभाऊ ठाकरे जीवन पर्यंत संगठन के लिए कार्य करते रहे। कार्यकर्ताओं से उनका संबंध अटूट था। 19 अप्रैल 1996 को भोपाल में उन्होंने कहा था कि हमारी ताकत हमारे कार्यकर्ता हैं। जनता ने हम पर चुनौतीपूर्ण जिम्मेदारी सौंपी है। जनता को वर्तमान सरकार से बहुत आशा है। ऐसे समय में भाजपा कार्यकर्ताओं का दायित्व बढ़ गया है और हमें अपना दायित्व समझना होगा।</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

