
@{
    ViewBag.Title = "LalKrishnaAdvani";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <iframe id="myiframe" src="http://lkadvani.in/" height="800" width="100%" frameBorder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

