
@{
    ViewBag.Title = "LalSinghArya";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <h3>श्री लाल सिंह आर्य</h3>
                        <h4>जीवन परिचय</h4>

                        <p>श्री लाल सिंह आर्य जी का जन्म 15 जून 1964 में, भिण्ड जिले के एक अति गरीब परिवार में हुआ जहॉ उनके स्वर्गीय पिता श्री फुलजारी लाल आर्य एक बड़े परिवार का भरण पोषण करने के लिए मजदूरी किया करते थे।</p>

                        <p>भाई बहनों में सबसे बड़े लाल सिंह आर्य जी को पढाई के साथ-साथ खेल कूंद में भी बहुत रूचि थी। शिक्षा के क्षेत्र में उन्होंने (बी.ए.) एवं (एल. एल. बी.) की उपाधि प्राप्त की है । खेल कूद के क्षेत्र में उन्हें कबड्डी से अति प्रेम रहा और शायद यहीं खेल के प्रति प्रेम की भावना की वजह से उनमे सभी को साथ लेकर चलने, संगठित रखने एवं कबड्डी की तरह ही अपने साथियों को पुनर्जीवित करने को काबिलियत जागी।</p>

                        <p>श्री लाल सिंह आर्य बाल्यावस्था में ही राष्ट्रीय स्वयंसेवक संघ के ‘स्वयंसेवक’ बने। वे वर्ष 1985-86 में भारतीय जनता युवा मोर्चा के जिला मंत्री और वर्ष 1987-1989 में भारतीय जनता पार्टी अनुसूचित जाति मोर्चा के जिला महामंत्री नियुक्त हुए।</p>

                        <p>श्री आर्य वर्ष 1987-88 में जीवाजी विश्वविद्यालय की कबड्डी टीम के सदस्य और वर्ष 1989 में टीम के कप्तान रहे। वे वर्ष 1989 से 1991 तक भारतीय जनता पार्टी के जिला महामंत्री, वर्ष 1990-91 में भिण्ड मेला समिति की क्रीड़ा समिति के संयोजक, वर्ष 1992-1995 में भारतीय जनता पार्टी के जिलाध्यक्ष, वर्ष 1996-97 में भारतीय जनता युवा मोर्चा के जिलाध्यक्ष एवं वर्ष 1996-97 में लॉयन सेवा समिति के संरक्षक भी रहे। </p>

                        <p>श्री आर्य वर्ष 1998 में ग्यारहवीं विधानसभा के गोहद विधानसभा से सदस्य निर्वाचित हुए तथा विधानसभा की आश्वासन समिति, प्रत्यायुक्त विधान समिति एवं अनुसूचित जाति-जनजाति तथा पिछड़ा वर्ग कल्याण समिति के सदस्य रहे। </p>

                        <p>श्री आर्य वर्ष 2002 से वे भारतीय जनता युवा मोर्चा की राष्ट्रीय कार्य समिति के सदस्य तथा जून 2005 से भारतीय जनता पार्टी जिला भिण्ड के अध्यक्ष रहे। </p>

                        <p>श्री आर्य पूर्व विधानसभा सदस्यों के वेतन-भत्ते संबंधी समिति और ओरिएंट पेपर मिल अमलाई जाँच समिति के सदस्य भी रहे हैं। श्री आर्य वर्ष 2003 में दूसरी बार विधानसभा सदस्य निर्वाचित हुए एवं उत्कृष्ट विधायक का सम्मान मिला। </p>

                        <p>श्री आर्य 2008-2013 जब तक जनता न उन्हें विश्राम करने का जनादेश दिया तब पार्टी ने उन्हें अनुसूचित जाति मोर्चा के प्रदेशाध्यक्ष नियुक्त किया एवं 2012 में उन्हें मध्यप्रदेश भाजपा का महामंत्री मनोनीत भी किया।</p>

                        <p>उन्हें मध्यप्रदेश नशा मुक्ति बोर्ड का सदस्य तथा पंच-ज समिति का सदस्य (राज्य मंत्री स्तर) तथा महर्षि अरविंद महाविद्यालय गोहद की जन-भागीदारी समिति का अध्यक्ष भी बनाया गया। </p>

                        <p>श्री आर्य चार देशों में विधायक अध्ययन दल के तहत होंगकोंग, सिंगापुर, ऑस्ट्रेलिया व न्यूजीलैंड के दौरे पर गए।</p>

                        <p>श्री लालसिंह आर्य 2013 में भिण्ड जिले के गोहद से चतुर्दश विधानसभा के सदस्य चुने गये हैं। उन्हें 21 दिसम्बर, 2013 को मुख्यमंत्री श्री शिवराज सिंह चौहान के मंत्रीमण्डल में राज्य मंत्री के रूप में शामिल किया गया।</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
