
@{
    ViewBag.Title = "MaharishiSupachSudarshan";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <img src="Img/MaharishiSudarshan.jpg" class=" img-responsive" style="float:right; margin-left:20px;margin-bottom:20px;" width="350">
                        <h3 class="halantOrange">महर्षि सुपच सुदर्शन</h3>
                        <p>
                            महाभारत काल मे ही महर्षि वेद व्यास के साथ महर्षि सुपंच सुदर्शन का नाम भी लिया जाता है. वे एक वैष्णव संत थे. इनका जन्म लगभग 3290 ईसा पू. फाल्गुन माह कृष्ण पक्ष की त्रयोदशी को वाराणसी के एक दलित परिवार में हुआ था. इनका बचपन का नाम सुदर्शन था. वे सुपंच के नाम से भी जाने जाते थे.
                            महर्षि सुपंच सुदर्शन की शिक्षा – दीक्षा आचार्य करुणामय द्वारा हुई. इनका मन बचपन से ही भक्ति में अधिक लगता था. वे दैनिक क्रियाओ को करने के बाद घंटो भजन और पूजा में लगे रहते थे.
                        </p>
                        <h4 class="halantGreen">पाण्डवों की यज्ञ में सुपच सुदर्शन द्वारा शंख बजाना</h4>
                        <p>सर्व विदित है कि महाभारत के युद्ध में अर्जुन युद्ध करने से मना करके शस्त्रा त्याग कर युद्ध के मैदान में दोनों सेनाओं के बीच में खड़े रथ के पिछले हिस्से में आंखों से आँसू बहाता हुआ बैठ गया। तब भगवान कृृ ृष्ण के अन्दर प्रवेश काल शक्ति (ब्रह्म) ने अर्जुन को युद्ध करने की राय दी। तब अर्जुन ने कहा भगवान! यह महापाप मैं नहीं करूँगा। इससे अच्छा तो भिक्षा का अन्न भी खा कर गुजारा कर लेंगे। तब भगवान काल श्री कृृ ृष्ण के शरीर में प्रवेश काल ने कहा कि अर्जुन युद्ध कर। तुझे कोई पाप नहीं लगेगा। देखें गीता जी के अध्याय 11 के श्लोक 33, अध्याय 2 के श्लोक 37, 38 में।</p>
                        <p>महाभारत में लेख (प्रकरण) आता है कि कृृष्ण जी के कहने से अर्जुन ने युद्ध करना स्वीकार कर लिया। घमासान युद्ध हुआ। करोड़ों व्यक्ति व सर्व कौरव युद्ध में मारे गए और पाण्डव विजयी हुए। तब पाण्डव प्रमुख युधिष्ठिर को राज्य सिंहासन पर बैठाने के लिए स्वयं भगवान कृृष्ण ने कहा तो युिधष्ठिर ने यह कहते हुए गद्दी पर बैठने से मना कर दिया कि मैं ऐसे पाप युक्त राज्य को नहीं करूंगा। जिसमें करोड़ों व्यक्ति मारे गए थे। उनकी पत्नियाँ विधवा हो गई, करोड़ों बच्चे अनाथ हो गए, अभी तक उनके आँसू भी नहीं सूखे हैं। किसी प्रकार भी बात बनती न देख कर श्री कृृष्ण जी ने कहा कि आप भीष्म जी से सलाह कर लो। क्योंकि जब व्यक्ति स्वयं फैसला लेने में असफल रहे तब किसी स्वजन से विचार कर लेना चाहिए। युधिष्ठिर ने यह बात स्वीकार कर ली। तब श्री कृृ ृष्ण जी युधिष्ठिर को साथ ले कर वहाँ पहुँचे जहाँ पर श्री भीष्म शर (तीरों की) सैय्या (चारपाई) पर अंतिम स्वांस गिन रहे थे, वहाँ जा कर श्री कृृ ृष्ण जी ने भीष्म से कहा कि युधिष्ठिर राज्य गद्दी पर बैठने से मना कर रहे हैं। कृृ ृप्या आप इन्हें राजनीति की शिक्षा दें।</p>
                        <p>भीष्म जी ने बहुत समझाया परंतु युधिष्ठिर अपने उद्देश्य ये विचलित नहीं हुआ। यही कहता रहा कि इस पाप से युक्त रूधिर से सने राज्य को भोग कर मैं नरक प्राप्ति नहीं चाहूँगा। फिर श्री कृृष्ण जी ने कहा कि आप एक धर्म यज्ञ करो। जिससे आपको युद्ध में हुई हत्याओं का पाप नहीं लगेगा। इस बात पर युधिष्ठिर सहमत हो गया और एक धर्म यज्ञ की। फिर राज गद्दी पर बैठ गया। हस्तिनापुर (दिल्ली) का राजा बन गया।</p>
                        <p style="font-style:italic"> प्रमाण:-- सुखसागर के पहले स्कन्ध के आठवें अध्याय से सहाभार पृृृष्ठ नं. 48 से 53 आठवाँ तथा नौवां अध्याय।। </p>
                        <p>
                            श्री कृृष्ण भगवान ने अपनी शक्ति से युधिष्ठिर को उन सर्व महा मण्डलेश्वरों के भविष्य में होने वाले जन्म दिखाए जिसमें किसी ने कैंचवे का, किसी ने भेड़-बकरी, भैंस व शेर आदि के रूप बना रखे थे।
                            यह सब देख कर युधिष्ठिर ने कहा - हे भगवन! फिर तो पृृ ृथ्वी संत रहित हो गई। भगवान कृृष्ण ने कहा जब पृृ ृथ्वी संत रहित हो जाएगी तो यहाँ आग लग जाएगी। सर्व जीव-जन्तु आपस में लड़ मरेंगे। यह तो पूरे संत की शक्ति से सन्तुलन बना रहता है। फिर मैं (भगवान विष्णु) पृृथ्वी पर आ कर राक्षस वृृ ृत्ति के लोगों को समाप्त करता हूँ जिससे संत सुखी हो जाएं। जिस प्रकार जमींदार अपनी फसल से हानि पहुँचने वाले अन्य पौधों को जो झाड़-खरपतवार आदि को काट-काट कर बाहर डाल देता है तब वह फसल स्वतन्त्राता पूर्वक फलती-फूलती है। पूर्ण संत उस फसल में सिचांई सा सुख प्रदान करते हैं। पूर्ण संत सबको समान सुख देते हैं। जिस प्रकार पानी दोनों प्रकार के पौधों का पोषण करते हैं। उनमें सर्व जीव के प्रति दया भाव होता है। श्री कृृ ृष्ण जी ने फिर कहा अब मैं आपको पूर्ण संत के दर्शन करवाता हूँ। एक महात्मा दिल्ली के उत्तर पूर्व में रहते हैं। उसको बुलवाना है। तब युधिष्ठिर ने कहा कि उस ओर संतों को आमन्त्रिात करने का कार्य भीमसैन को सौंपा था। पता करते हैं कि वह उन महात्मा तक पहुँचा या नहीं। भीमसैन को बुलाकर पूछा तो उसने बताया कि मैं उस से मिला था। उनका नाम स्वपच सुदर्शन है। बाल्मिकी जाति में गृृहस्थी संत हैं। एक झौंपड़ी में रहता है। उन्होंने यज्ञ में आने से मना कर दिया। इस पर श्री कृृष्ण जी ने कहा कि संत मना नहीं किया करते। सर्व वार्ता जो उनके साथ हुई है वह बताओ। तब भीम सैन ने आगे बताया कि मैंने उनको आमन्त्रिात करते हुए कहा कि हे संत परवर! हमारी यज्ञ में आने का कष्ट करना। उनको पूरा पता बताया। उसी समय वे (सुदर्शन संत जी) कहने लगे भीम सैन आप के पाप के अन्न को खाने से संतों को दोष लगेगा। आपने तो घोर पाप कर रखा है। करोड़ों जीवा की हत्या करके आज आप राज्य का आनन्द ले रहे हो। युद्ध में वीरगति को प्राप्त सैनिकों की विधवा पत्नी व अनाथ बच्चे रह-रह कर अपने पति व पिता को याद करके फूट-फूट कर घंटों रोते हैं। बच्चे अपनी माँ से लिपट कर पूछ रहे हैं - माँ, पापा छुट्टी नहीं आए? कब आएंगे? हमारे लिए नए वस्त्रा लाएंगे। दूसरी लड़की कहती है कि मेरे लिए नई साड़ी लाएंगे। बड़ी होने पर जब मेरी शादी होगी तब मैं उसे बाँधकर ससुराल जाऊँगी। वह लड़का (जो दस वर्ष की आयु का है) कहता है कि मैं अब की बार पापा (पिता जी) से कहूँगा कि आप नौकरी पर मत जाना। मेरी माँ तथा भाई-बहन आपके बिना बहुत दुःख पाते हैं। माँ तो सारा दिन-रात आपकी याद करके जब देखो एकांत स्थान पर रो रही होती है। या तो हम सबको अपने पास बुला लो या आप हमारे पास रहो। छोड़ दो नौकरी को। मैं जवान हो गया हूँ। आपकी जगह मैं फौज में जा कर देश सेवा करूंगा। आप अपने परिवार में रहो। आने दो पिता जी को, बिल्कुल नहीं जाने दूँगा। (उन बच्चों को दुःखी होने से बचाने के लिए उनकी माँ ने उन्हें यह नहीं बताया कि आपके पिता जी युद्ध में मर चुके हैं क्योंकि उस समय वे बच्चे अपने मामा के घर गए हुए थे। केवल छोटा बच्चा जो डेढ़ वर्ष की आयु का था वही घर पर था। अन्य बच्चों को जान बूझ कर नहीं बुलाया था।) इस प्रकार उन मासूम बच्चों की आपसी वार्ता से दुःख पाकर उनकी माँ का हृदय पति की याद के दुःख से भर आया। उसे हल्का करने के लिए (रोने के लिए) दूसरे कमरे में जा कर फूट-फूट कर रोने लगी। तब सारे बच्चे माँ के ऊपर गिरकर रोने लगे। सम्बन्धियों ने आकर शांत करवाया। कहा कि बच्चों को स्पष्ट बताओ कि आपके पिता जी युद्ध में वीरगति को प्राप्त हो गए। जब बच्चों को पता चला कि हमारे पापा (पिता जी) अब कभी नहीं आएंगे तब उस स्वार्थी राजा को कोसने लगे जिसने अपने भाई बटवारे के लिए दुनियाँ के लालों का खून पी लिया। यह कोई देश रक्षा की लड़ाई भी नहीं थी जिसमें हम संतोष कर लेते कि देश के हित में प्राण त्याग दिए हैं। इस खूनी राजा ने अपने ऐशो-आराम के लिए खून की नदी बहा दी। अब उस पर मौज कर रहा है। आगे संत सुदर्शन (स्वपच) बता रहे हैं कि भीम ऐसे-2 करोड़ों प्राणी युद्ध की पीड़ा से पीडि़त हैं। उनकी हाय आपको चैन नहीं लेने देगी चाहे करोड़ यज्ञ करो। ऐसे दुष्ट अन्न को कौन खाए? यदि मुझे बुलाना चाहते हो तो मुझे पहले किए हुए सौ (100) यज्ञों का फल देने का संकल्प करो अर्थात् एक सौ यज्ञों का फल मुझे दो तब मैं आपके भोजन पाऊँ। सुदर्शन जी के मुख से इस बात को सुन कर भीम ने बताया कि मैं बोला आप तो कमाल के व्यक्ति हो, सौ यज्ञों का फल मांग रहे हो। यह हमारी दूसरी यज्ञ है। आपको सौ का फल कैसे दें? इससे अच्छा तो आप मत आना। आपके बिना कौन सी यज्ञ सम्पूर्ण नहीं होगी। जब स्वयं भगवान कृृष्ण जी साथ हैं। सर्व वार्ता सुन कर श्री कृृष्ण जी ने कहा भीम! संतों के साथ ऐसा अभद्र-व्यवहार नहीं किया करते। सात समुद्रों का अंत पाया जा सकता है परंतु सतगुरु (कबीर साहेब) के संत का पार नहीं पा सकते। उस महात्मा सुदर्शन (स्वपच) के एक बाल के समान तीन लोक भी नहीं हैं। मेरे साथ चलो, उस परमपिता परमात्मा के प्यारे हंस को लाने के लिए।
                        </p>
                        <p>तब पाँचों पाण्डव व श्री कृृ ृष्ण भगवान रथ में सवार होकर चले। सन्त के निवास से एक मील दूर रथ खड़ा करके नंगे पैरों स्वपच की झोंपड़ी पर पहुँचे। उस समय स्वयं कबीर साहेब (करुणामय साहेब जी स्वपच के गुरुदेव थे क्योंकि साहिब कबीर द्वापर युग में करुणामय नाम से अपने सतलोक से आए थे तथा सुदर्शन को अपना सतलोक का सत्य ज्ञान समझाया था) सुदर्शन स्वपच का रूप बना कर झोपड़ी में बैठ गए व सुदर्शन को अपनी गुप्त प्रेरणा से मन में संकल्प उठा कर कहीं दूर के संत या भक्त से मिलने भेज दिया जिसमें आने व जाने में कई रोज लगने थे। तब सुदर्शन के रूप में सतगुरु की चमक व शक्ति देख कर सर्व पाण्डव बहुत प्रभावित हुए। स्वयं श्री कृृष्णजी ने लम्बी दण्डवत् प्रणाम की। तब देखा देखी सर्व पाण्डवों ने भी एैसा ही किया। कृृष्ण जी की ओर दृृष्टि डाल कर सुपच सुदर्शन जी ने आदर पूर्वक कहा कि - हे त्रिभुवननाथ! आज इस दीन के द्वार पर कैसे? मेरा अहोभाग्य है कि आज दीनानाथ विश्वम्भर मुझ तुच्छ को दर्शन देने स्वयं चल कर आए हैं। सबको आदर पूर्वक बैठना दिया तथा आने का कारण पूछा। श्री कृृष्ण जी ने कहा कि हे जानी-जान! आप सर्व गति (स्थिति) से परीचित हैं। पाण्डवों ने यज्ञ की है। वह आपके बिना सम्पूर्ण नहीं हो रही है। कृृप्या इन्हें कृृतार्थ करें। उसी समय वहां उपस्थित भीम की ओर संकेत करते हुए महात्मा जी सुदर्शन रूप में विराजमान परमेश्वर कबीर जी ने कहा कि यह वीर मेरे पास आया था तथा मैंने अपनी विवशता से इसे अवगत करवाया था। श्री कृृष्ण जी नेे कहा कि - हे पूर्णब्रह्म! आपने स्वयं अपनी वाणी में कहा है कि -</p>
                        <p style="color:darkgreen">‘‘संत मिलन को चालिए, तज माया अभिमान। ज्यों ज्यों पग आगे धरै, सो-सो यज्ञ समान।।‘‘</p>
                        <p>आज पांचों पाण्डव राजा हैं तथा मैं स्वयं द्वारिकाधीश आपके दरबार में राजा होते हुए भी नंगे पैरों उपस्थित हूँ। अभिमान का नामों निशान भी नहीं है तथा स्वयं भीम ने भी खड़ा हो कर उस दिन कहे हुए अपशब्दों की चरणों में पड़ कर क्षमा याचना की। इसलिए हे नाथ! आज यहाँ आपके दर्शनार्थ आए आपके छः सेवकों के कदमों के यज्ञ समान फल को स्वीकार करते हुए सौ आप रखो तथा शेष हम भिक्षुकों को दान दो ताकि हमारा भी कल्याण हो। इतना आधीन भाव सर्व उपस्थित जनों में देख कर जगतगुरु (करुणामय)सुदर्शन रूप में अति प्रसन्न हुए।</p>
                        <p style="color:darkgreen">कबीर, साधू भूखा भाव का, धन का भूखा नाहिं।जो कोई धन का भूखा, वो तो साधू नाहिं।।</p>
                        <p>उठ कर उनके साथ चल पड़े। जब सुदर्शन जी यज्ञशाला में पहुँचे तो चारों ओर एक से एक ऊँचे सुसज्जित आसनों पर विराजमान महा मण्डलेश्वर सुदर्शन जी के रूप (दोहरी धोती घुटनों से थोड़ी नीचे तक, छोटी-2 दाड़ी, सिर के बिखरे केश न बड़े न छोटे, टूटी-फूटी जूती। मैले से कपड़े, तेजोमय शरीर) को देखकर अपने मन में सोच सोचने लगे ऐसे अपवित्रा व्यक्ति से शंख सात जन्म भी नहीं बज सकता है। यह तो हमारे सामने ऐसे है जैसे सूर्य के सामने दीपक। श्रीकृृष्ण जी ने स्वयं उस महात्मा का आसन अपने हाथों लगाया (बिछाया) क्योंकि श्री कृृष्ण श्रेष्ठ आत्मा हैं, (परमात्मा हैं) उन्होंने सुदामा व भिलनी को भी हृदय से चाहा। यहाँ तो स्वयं परमेश्वर पूर्णब्रह्म सतपुरुष, (अकाल मूर्ति) आए हैं। द्रौपदी से कहा कि हे बहन! सुदर्शन महात्मा जी आए हैं, भोजन तैयार करो। बहुत पहुँचे हुए संत हैं। द्रौपदी देख रही है कि संत लक्षण तो एक भी नहीं दिखाई देते हैं।</p>
                        <p>यह तो एक गृृ ृहस्थी गरीब (कंगाल) व्यक्ति नजर आता है। न तो वस्त्रा भगवां, न गले में माला, न तिलक, न सिर पर बड़ी जटा, न मुण्ड ही मुण्डवा रखा और न ही कोई चिमटा, झोली, करमण्डल लिए हुए था। फिर भी श्री कृृ ृष्ण जी के कहते ही स्वादिष्ट भोजन कई प्रकार का बनाकर एक सुन्दर थाल (चांदी का) में परोस कर सुदर्शन जी के सामने रख कर मन में सोचने लगी कि आज यह भक्त भोजन खा कर ऊँगली चाटता रह जाएगा। जिन्दगी में ऐसा भोजन कभी नहीं खाया होगा। सुदर्शन जी ने नाना प्रकार के भोजन को इक्ट्ठा किया तथा खिचड़ी सी बनाई। उस समय द्रौपदी ने देखा कि इसने तो सारा भोजन (खीर, खांड, हलुवा, सब्जी, दही, बड़े आदि) घोल कर एक कर लिया। तब मन में दुर्भावना पूर्वक विचार किया कि इस मूर्ख हब्शी ने तो खाना खाने का भी ज्ञान नहीं। यह काहे का संत? कैसा शंख बजाएगा। {क्योंकि खाना बनाने वाली स्त्राी की यह भावना होती है कि मैं एैसा स्वादिष्ट भोजन बनाऊँ कि खाने वाला मेरे भोजन की प्रशंसा कई जगह करे)। प्रत्येक बहन की यही आशा होती है।</p>
                        <p>वह बेचारी एक घंटे तक धुएँ से आँखें खराब करती है और मेरे जैसा कह दे कि नमक तो है ही नहीं, तब उसका मन बहुत दुःखी होता है। इसलिए संत जैसा मिल जाए उसे खा कर सराहना ही करते हैं। यदि कोई न खा सके तो नमक कह कर ‘संत‘ नहीं मांगता। संतों ने नमक का नाम राम-रस रखा हुआ है। कोई ज्यादा नमक खाने का अभ्यस्त हो तो कहेगा कि भईया- रामरस लाना। घर वालों को पता ही न चले कि क्या मांग रहा है? क्योंकि सतसंग में सेवा में अन्य सेवक ही होते हैं। न ही भोजन बनाने वालों को दुःख हो। एक समय एक नया भक्त किसी सतसंग में पहली बार गया। उसमें किसी ने कहा कि भक्त जी रामरस लाना। दूसरे ने भी कहा कि रामरस लाना तथा थोड़ा रामरस अपनी हथेली पर रखवा लिया। उस नए भक्त ने खाना खा लिया था। परंतु पंक्ति में बैठा अन्य भक्तों के भोजन पाने का इंतजार कर रहा था कि इकट्ठे ही उठेंगे। यह भी एक औपचारिकता सतसंग में होती है। उसने सोचा रामरस कोई खास मीठा खाद्य पदार्थ होगा। यह सोच कर कहा मुझे भी रामरस देना। तब सेवक ने थोड़ा सा रामरस (नमक) उसके हाथ पर रख दिया। तब वह नया भक्त बोला - ये के कान कै लाना है, चैखा सा (ज्यादा) रखदे। तब उस सेवक ने दो तीन चमच्च रख दिया। उस नए भक्त ने उस बारीक नमक को कोई खास मीठा खाद्य प्रसाद समझ कर फांका मारा। तब चुपचाप उठा तथा बाहर जा कर कुल्ला किया। फिर किसी भक्त से पूछा रामरस किसे कहते हैं? तब उस भक्त ने बताया कि नमक को रामरस कहते हैं। तब वह नया भक्त कहने लगा कि मैं भी सोच रहा था कि कहें तो रामरस परंतु है बहुत खारा। फिर विचार आया कि हो सकता है नए भक्तों पर परमात्मा प्रसन्न नहीं हुए हों। इसलिए खारा लगता हो। मैं एक बार फिर कोशिश करता, अच्छा हुआ जो मैंने आपसे स्पष्ट कर लिया। फिर उसे बताया गया कि नमक को रामरस किस लिए कहते हैं?</p>
                        <p>स्वपच सुदर्शन जी ने उस सारे भोजन को पाँच ग्रास बना कर खा लिया। पाँच बार शंख ने आवाज की। उसके बाद शंख ने आवाज नहीं की।</p>
                        <pre>                            गरीबदास जी महाराज की वाणी
(सतग्रन्थ साहिब पृृष्ठ नं. 862)
राग बिलावल से
व्यंजन छतीसों परोसिया जहाँ द्रौपदी रानी।
बिन आदर सतकार के, कही श्ंाख ना बानी।।
पंच गिरासी बालमीक, पंचै बर बोले।
आगे शंख पंचायन, कपाट न खोले।।
बोले कष्ण महाबली, त्रिभुवन के साजा। 
बाल्मिक प्रसाद से, शंख अखण्ड क्यों न बाजा।।
द्रोपदी सेती कष्ण देव, जब ऐसे भाखा। 
बाल्मिक के चरणों की, तेरे ना अभिलाषा।।
प्रेम पंचायन भूख है, अन्न जग का खाजा।
ऊँच नीच द्रोपदी कहा, शंख अखण्ड यूँ नहीं बाजा।।
बाल्मिक के चरणों की, लई द्रोपदी धारा।
अखण्ड शंख पंचायन बाजीया, कण-कण झनकारा।।

                        </pre>
                        <p>उस समय श्री कृृष्ण ने सोचा कि इन महात्मा सुदर्शन के भोजन खा लेने से भी शंख अखण्ड क्यों नहीं बजा? अपनी दिव्य दृृष्टि से देखा? तब द्रौपदी से कहा - द्रौपदी, भोजन सब प्राणी अपने-2 घर पर रूखा-सूखा खा कर ही सोते हैं। आपने बढि़या भोजन बना कर अपने मन में अभिमान पैदा कर लिया। बिना आदर सतकार के किया हुआ धार्मिक अनुष्ठान (यज्ञ, हवन, पाठ) सफल नहीं होता। फिर आपने इस साधारण से व्यक्ति को क्या समझ रखा है? यह पूर्णब्रह्म हैं। इसके एक बाल के समान तीनों लोक भी नहीं हैं। आपने अपने मन में इस महापुरुष के बारे में गलत विचार किए हैं उनसे आपका अन्तःकरण मैला (मलीन) हो गया है। इनके भोजन ग्रहण कर लेने से तो यह शंख स्वर्ग तक आवाज करता और सारा ब्रह्मण्ड गूंज उठता। अब यह पांच बार बोला है। इसलिए कि आपका भ्रम दूर हो जाए क्योंकि और किसी ऋषि के भोजन पाने से तो यह टस से मस नहीं हुआ। अब आप अपना मन साफ करके इन्हें पूर्ण परमात्मा समझकर इनके चरणों को धो कर पीओ, ताकी तेरे हृदय का मैल (पाप) साफ हो जाए।</p>
                        <p>उसी समय द्रौपदी ने अपनी गलती को स्वीकार करते हुए संत से क्षमा याचना की और सुपच सुदर्शन गृृहस्थी भक्त के चरण अपने हाथों धो कर चरणामृृत बनाया। रज भरे (धूलि युक्त) जल को पीने लगी। जब आधा पी लिया तब भगवान कृृष्ण ने कहा द्रौपदी कुछ अमृृत मुझे भी दे दो ताकि मेरा भी कल्याण हो। यह कह कर कृृ ृष्ण जी ने द्रौपदी से आधा बचा हुआ चरणामृृत पीया। उसी समय वही पंचायन शंख इतने जोरदार आवाज से बजा कि स्वर्ग तक ध्वनि सुनि। बहुत समय तक अखण्ड बजता रहा तब वह पाण्डवों की यज्ञ सफल हुई।</p>
                        <pre>                            प्रमाण के लिए
बन्दी छोड़ गरीबदास जी महाराज कृृत
।। अचला का अंग।।
(सत ग्रन्थ साहिब पृृृष्ठ नं. 359)
गरीब, सुपच रूप धरि आईया, सतगुरु पुरुष कबीर।
तीन लोक की मेदनी, सुर नर मुनिजन भीर।।97।।
गरीब, सुपच रूप धरि आईया, सब देवन का देव।
कष्णचन्द्र पग धोईया, करी तास की सेव।।  98।।
गरीब, पांचैं पंडौं संग हैं, छठ्ठे कष्ण मुरारि।
चलिये हमरी यज्ञ में, समर्थ सिरजनहार।।99।।
गरीब, सहंस अठासी ऋषि जहां, देवा तेतीस कोटि।
शंख न बाज्या तास तैं, रहे चरण में लोटि।।100।।
गरीब, पंडित द्वादश कोटि हैं, और चैरासी सिद्ध।
शंख न बाज्या तास तैं, पिये मान का मध।।101।।
गरीब, पंडौं यज्ञ अश्वमेघ में, सतगुरु किया पियान।
पांचैं पंडौं संग चलैं, और छठा भगवान।।102।।
गरीब, सुपच रूप को देखि करि, द्रौपदी मानी शंक।
जानि गये जगदीश गुरु, बाजत नाहीं शंख।।103।।
गरीब, छप्पन भोग संजोग करि, कीनें पांच गिरास।
द्रौपदी के दिल दुई हैं, नाहीं दढ़ विश्वास।।  104।।
गरीब, पांचैं पंडौं यज्ञ करी, कल्पवक्ष की छांहिं।
द्रौपदी दिल बंक हैं, शंख अखण्ड बाज्या नांहि।।105।।
गरीब, छप्पन भोग न भोगिया, कीन्हें पंच गिरास।
खड़ी द्रौपदी उनमुनी, हरदम घालत श्वास।।107।।
गरीब, बोलै कष्ण महाबली, क्यूं बाज्या नहीं शंख।
जानराय जगदीश गुरु, काढत है मन बंक।।108।।
गरीब, द्रौपदी दिल कूं साफ करि, चरण कमल ल्यौ लाय।
बालमीक के बाल सम, त्रिलोकी नहीं पाय।।109।।
गरीब, चरण कमल कूं धोय करि, ले द्रौपदी प्रसाद।
अंतर सीना साफ होय, जरैं सकल अपराध।।110।।
गरीब, बाज्या शंख सुभान गति, कण कण भई अवाज।
स्वर्ग लोक बानी सुनी, त्रिलोकी में गाज।।111।।
गरीब, पंडौं यज्ञ अश्वमेघ में, आये नजर निहाल।
जम राजा की बंधि में, खल हल पर्या कमाल।।113।।
सत ग्रन्थ साहिब पृृृष्ठ नं. 328
।।पारख का अंग।।
गरीब, सुपच शंक सब करत हैं, नीच जाति बिश चूक।
पौहमी बिगसी स्वर्ग सब, खिले जो पर्वत रूंख।
गरीब, करि द्रौपदी दिलमंजना, सुपच चरण जी धोय।
बाजे शंख सर्व कला, रहे अवाजं गोय।।
गरीब, द्रौपदी चरणामृत लिये, सुपच शंक नहीं कीन।
बाज्या शंख असंख धुनि, गण गंधर्व ल्यौलीन।।
गरीब, फिर पंडौं की यज्ञ में, संख पचायन टेर।
द्वादश कोटि पंडित जहां, पडी सभन की मेर।।
गरीब, करी कृष्ण भगवान कूं, चरणामृत स्यौं प्रीत।
शंख पंचायन जब बज्या, लिया द्रोपदी सीत।।
गरीब, द्वादश कोेटि पंडित जहां, और ब्रह्मा विष्णु महेश।
चरण लिये जगदीश कूं, जिस कूं रटता शेष।।
गरीब, बालमीक के बाल समि, नाहीं तीनौं लोक।
सुर नर मुनि जन कृष्ण सुधि, पंडौं पाई पोष।।
गरीब, बाल्मीक बैंकुठ परि, स्वर्ग लगाई लात।
संख पचायन घुरत हैं, गण गंर्धव ऋषि मात।।
गरीब, स्वर्ग लोक के देवता, किन्हैं न पूर्या नाद।
सुपच सिंहासन बैठतैं, बाज्या अगम अगाध।।
गरीब, पंडित द्वादश कोटि थे, सहिदे से सुर बीन।
संहस अठासी देव में, कोई न पद में लीन।
गरीब, बाज्या संख स्वर्ग सुन्या, चैदह भवन उचार।
तेतीसौं तत्त न लह्या, किन्हैं न पाया पार।।

                        </pre>

                        <h4 class="halantGreen">महर्षि सुपंच सुदर्शन के अनमोल वचन</h4>
                        <pre>                            * ईश्वर से डरो, इंसान से नहीं.
* बुद्धि, बल, रूप, सौन्दर्य और धन का घमंड मत करो.
* संसार का सुख भोगने में ही मत लगे रहो.
* सदैव दूसरो का उपकार करो.
* परलौकिक आनंद की प्राप्ति का भी प्रयास करो.
* स्वाभिमान की हर कीमत पर रक्षा करो.
महर्षि सुपंच सुदर्शन के आराध्य देव भगवान श्रीकृष्ण थे. इनका सारा जीवन परोपकार को समर्पित था. दीन, दुखी व असहाय जन उनके पर शरण पाते थे. महर्षि सुपंच सुदर्शन का आश्रम इतवा जनपद के पंचनदा टीले पर स्थित है.

                        </pre>

                        Source : https://kabirsahib.jagatgururampalji.org/index/the-story-of-supach-sudarshan/?lang=hi
                    </div>
                </div>
            </div>
        </div>
    </div>
