
@{
    ViewBag.Title = "PanditDeendayalUpadhyay";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <img src="Img/deendayal.jpg" class="img-responsive" width="350" style="float:right; margin-left:20px; margin-bottom:20px;" />
                        <h3 class="halantOrange">भारतीय जनता पार्टी – एक विशिष्ट राजनीतिक दल </h3>
                        <h4 class="halantGreen">विचारक एवं शिक्षक पंडित दीनदयाल उपाध्याय (१९१६-१९६८)</h4>

                        <p>पंडित दीनदयाल उपाध्याय सन १९५३ से १९६८ तक भारतीय जनसंघ के नेता रहे | एक गम्भीर दार्शनिक एवं गहन चिंतक होने के साथ-साथ वह एक ऐसे समर्पित संगठनकरता और नेता थे जिन्होंने सार्वजनिक जीवन में व्यक्तिगत शुचिता एवं गरिमा के उच्चतम आयाम स्थापित किये | भारतीय जनता पार्टी की स्थापना के समय से ही वह इसके वैचारिक मार्गदर्शक और नैतिक प्रेरणा-स्रोत रहे हैं| एकात्म मानववाद का उनका उदात्त एवं महान दर्शन पूंजीवाद एवं साम्यवाद दोनों की प्रखर टीका एवं सशक्त समालोचना है|उनका राजनीतिक दर्शन मानव मात्र की आवश्यकताओं के अनुरूप और हमारे प्राकृतिक आवासन के अनुकूल राजनीतिक कार्यप्रणाली एवं शासकीय कौशल का मार्ग प्रशस्त करने वाला एक चहुंमुखी वैकल्पिक जीवन दर्शन है|</p>
                        <h4 class="halantGreen">एक संक्षिप्त जीवनी</h4>

                        <p>पंडित दीनदयाल उपाध्याय का जन्म २५ सितम्बर,१९१६, को वर्त्तमान उत्तर प्रदेश की पवित्र ब्रजभूमि में मथुरा में नगला चंद्रभान नामक गाँव में हुआ था | इनके बचपन में एक ज्योतिषी ने इनकी जन्मकुंडली देख कर भविष्यवाणी की थी कि आगे चलकर यह बालक एक महान विद्वान एवं विचारक बनेगा,एक अग्रणी राजनेता और निस्वार्थ सेवाव्रती होगा मगर ये विवाह नहीं करेगा | अपने बचपन में ही दीनदयालजी को एक गहरा आघात सहना पड़ा जब सन १९३४ में बीमारी के कारण उनके भाई की असामयिक मृत्यु हो गयी|उन्होंने अपनी हाई स्कूल की शिक्षा वर्त्तमान राजस्थान के सीकर में प्राप्त की |विद्याध्ययन में उत्कृष्ट होने के कारण सीकर के तत्कालीन नरेश ने बालक दीनदयाल को एक स्वर्ण पदक,किताबों के लिए २५० रुपये और दस रुपये की मासिक छात्रवृत्ति से पुरुस्कृत किया |</p>

                        <p>दीनदयालजी ने अपनी इंटरमीडिएट की परीक्षा पिलानी में विशेष योग्यता के साथ उत्तीर्ण की |तत्पश्चात वो बी.ए. की शिक्षा ग्रहण करने के लिए कानपूर आ गए जहां वो सनातन धर्मं कॉलेज में भर्ती हो गए |अपने एक मित्र श्री बलवंत महाशब्दे की प्रेरणा से सन १९३७ में वो राष्ट्रीय स्वयंसेवकसंघ में सम्मिलित हो गए | उसी वर्ष उन्होंने बी.ए. की परीक्षा भी प्रथम श्रेणी में उत्तीर्ण की |इसके बाद ऍम.ए. की पढ़ाई के लिए वो आगरा आ गए |</p>
                        <p>आगरा में राष्ट्रीय स्वयंसेवक संघ की सेवा के दौरान उनका परिचय श्री नानाजी देशमुख और श्री भाउ जुगडे से हुआ|इसी समय दीनदयालजी की बहन सुश्री रमादेवी बीमार पड़ गयीं और अपने इलाज के लिए आगरा आ गयीं |मगर दुर्भाग्यवश उनकी मृत्यु हो गयी|दीनदयालजी के लिए जीवन का यह दूसरा बड़ा आघात था.इसके कारण वह अपने एम्.ए. की परीक्षा नहीं दे सके और उनकी छात्रवृत्ति भी समाप्त हो गयी |</p>
                        <p>अपनी चाचीजी के कहने पर दीनदयालजी एक सरकारी प्रतियोगितात्मक परीक्षा में सम्मिलित हुए |इस परीक्षा में वो धोती और कुरता पहने हुए थे और अपने सर पर टोपी लगाए हुए थे|अन्य परीक्षार्थी पश्चिमी ढंग के सूट पहने हुए थे | मज़ाक में उनके साथियों ने उन्हें ” पंडितजी ” कह कर पुकारना शुरू कर दिया आगे चलकर उनके लाखों प्रशंसक और अनुयायी आदर और प्रेम से उन्हें इसी नाम से पुकारने वाले थे |इस परीक्षा में भी उन्होंने प्रथम स्थान प्राप्त किया |</p>
                        <p>पंडित दीनदयालजी इसके बाद बी.टी. का कोर्स करने के लिए प्रयाग (इलाहाबाद) आ गए और यहाँ पर भी राष्ट्रीय स्वयंसेवक संघ की सेवा जारी रखी |बी.टी. का कोर्स पूरा करने के बाद वो राष्ट्रीय स्वयंसेवक संघ में पूर्णकालिक रूप से समर्पित हो गए और संगठक के रूप में उत्तर प्रदेश के लखीमपुर ज़िले में आ गए |सन 1955 में वो राष्ट्रीय स्वयंसेवक संघ के उत्तर प्रदेश के प्रांतीय संगठक (प्रान्त प्रचारक) बन गए|</p>
                        <p>पंडित दीनदयालजी ने लखनऊ में राष्ट्र धर्म प्रकाशन नामक प्रकाशन संस्थान की स्थापना की और यहाँ से ” राष्ट्र धर्म ” नामक मासिक पत्रिका का प्रकाशन आरम्भ किया|</p>
                        <p>सन १९५० में डॉक्टर श्यामाप्रसाद मुख़र्जी ने प्रधानमन्त्री जवाहरलाल नेहरू के मंत्रिमंडल से त्यागपत्र दे दिया और देश में एक वैकल्पिक राजनीतिक मंच के सृजन के लिए श्री गोलवलकरजी से आदर्शवादी और देशभक्त नौजवानों को उपलब्ध कराने के लिए सहायता माँगी|</p>
                        <p>इस राजनीतिक घटनाक्रम में दीनदयालजी ने अत्यंत महत्त्वपूर्ण भूमिका निभायी | दिनांक २१ सितम्बर,सन १९५१,के ऐतिहासिक दिन उन्होंने उत्तर प्रदेश में एक राजनीतिक सम्मेलन का सफल आयोजन किया| इसी सम्मेलन में देश में एक नए राजनीतिक दल भारतीय जनसंघ की राज्य इकाई की स्थापना हुई.इसके एक माह के बाद २१ अक्टूबर,सन १९५१, को डॉक्टर श्यामाप्रसाद मुख़र्जी ने भारतीय जनसंघ के प्रथम अखिल भारतीय सम्मेलन की अध्यक्षता की|</p>
                        <p>दीनदयालजी में संगठन का अद्वितीय और अद्भुत कौशल था |समय बीतने के साथ भारतीय जनसंघ की विकास यात्रा में वह ऐतिहासिक दिन भी आया जब सन १९६८ में विनम्रता की मूर्ति इस महान नेता को दल के अध्यक्ष के पद पर प्रतिष्ठित किया गया | अपने महती उत्तरदायित्व के निर्वहन और जनसंघ के देशभक्ति का सन्देश लेकर दीनदयालजी ने दक्षिण भारत का भ्रमण किया|</p>
                        <p>११ फरवरी,सन १९६८, का दिन देश के राजनीतिक इतिहास में एक बेहद दुखद और काला दिन है | इसी दिन अचानक पंडित दीनदयालजी को आकस्मिक मौत के मुंह में धकेल दिया गया..(और मुग़लसराय रेलवे स्टेशन के निकट चलती रेलगाड़ी में संदिग्ध परिस्थितियों में उनकी अचानक और आकस्मिक मौत हो गयी..)</p>
                        <p>पंडित दीनदयालजी के चाहने वाले और अनुयायी आज भी उस दुर्घटना से आहत हैं..</p>




                        <p style="color:darkgreen"> <b>Content Source : <a href="http://up.bjp.org/ideologue/">http://up.bjp.org/ideologue/</a></b> </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
