
@{
    ViewBag.Title = "RajmataShindia";
}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <h2>विजया राजे सिंधिया</h2>
                        <p><b>विजया राजे सिंधिया</b> (12 अक्टूबर 1919 – 25 जनवरी 2001), का जन्म मध्य प्रदेश के सागर जिले में राणा परिवार में ठाकुर महेंद्र सिंह एवं चूड़ा देवेश्वरी देवी के घर हुआ था। ये अपने पिता की सबसे बड़ी संतान थीं। इनके पिता जालौन जिले के डिप्टी कलक्टर हुआ करते थे।[1] इनके बचपन का नाम लेखा देवेश्वरी देवी था। उनकी माँ ठाकुर महेंद्र सिंह की दूसरी पत्नी थीं। वे नेपाली सेना के पूर्व कमांडर-इन-चीफ जनरल राजा खड्ग शमशेर जंग बहादुर राणा की बेटी थीं, जो नेपाल के राणा वंश के संस्थापक, जंग बहादुर कुंवर राणा के भतीजे थे। विजया राजे के जन्म के समय उनकी मृत्यु हो गई थी। </p>
                        <h3>विवाह</h3>
                        <p>सागर के नेपाल हाउस में पली बढ़ी लेखा देवेश्वरी के मुलाकात महाराजा जीवाजी राव से मुंबई के ताज होटल में हुई थी। महाराजा को लेखा पहली ही नजर में पसंद आ गई थीं। उन्होंने लेखा से राजकुमारी संबोधन के साथ बात-चीत की। उन्होंने अगले ही दिन लेखा को परिवार सहित मुंबई में सिंधिया परिवार के समुद्र महल में आमंत्रित किया। समुद्र महल में लेखा को महारानी की तरह परम्परागत मुजरे से सम्मानित किया गया। कुछ ही दिनों में महाराजा ने विवाह का प्रस्ताव लेखा के मौसा चन्दन सिंह के हाथों नेपाल हाउस भिजवा दिया गया। बाद में उन्होंने विवाह का एलान कर दिया। इस विवाह का सिंधिया परिवार ने और मराठा सरदारों ने विरोध किया था। शादी के बाद जब महाराजा जीवाजी राव अपनी महारानी को लेकर मौसा-मौसी सरदार आन्ग्रे से मिलवाने मुंबई ले गए, तो वहाँ भी विरोध झेलना पड़ा था। बाद में विजया राजे ने अपने व्यवहार और समर्पण से सिंधिया परिवार व मराठा सरदारों का विश्वास एवं सम्मान जीत लिया।</p>
                        <h3>राजनीति</h3>
                        <p>विजया राजे सिंधिया जो कि ग्वालियर की राजमाता के रूप में लोकप्रिय थी, एक प्रमुख भारतीय राजशाही व्यक्तित्व के साथ-साथ एक राजनीतिक व्यक्तित्व भी थी। ब्रिटिश राज के दिनों में, 21 फरवरी 1941 को, ग्वालियर के आखिरी सत्ताधारी महाराजा जिवाजीराव सिंधिया की पत्नी के रूप में, वह राज्य के सर्वोच्च शाही हस्तियों में शामिल हो गईं। बाद में, भारत से राजशाही समाप्त होने पर वे राजनीति में उतर गई और कई बार भारतीय संसद के दोनों सदनों में चुनी गई। वह कई दशकों तक जनसंघ और भारतीय जनता पार्टी की सक्रिय सदस्य भी रही। वे पहली बार 1957 में गुना से लोकसभा के लिए चुनी गईं। राजमाता विजयाराजे सिंधिया जनसंघ की नेता रह चुकी हैं। विजयाराजे सिंधिया ने 1957 में कांग्रेस से अपनी राजनीतिक पारी शुरू की थी। वह गुना लोकसभा सीट से सांसद चुनी गईं. लेकिन कांग्रेस में 10 साल बिताने के बाद पार्टी से उनका मोहभंग हो गया। विजयाराजे सिंधिया ने 1967 में जनसंघ जॉइन कर लिया। विजयाराजे सिंधिया की बदौलत ही ग्वालियर क्षेत्र में जनसंघ काफी मजबूत हुआ। वर्ष 1971 में पूरे देश में जबरदस्त इंदिरा लहर होने के बावजूद जनसंघ ने ग्वालियर क्षेत्र की तीन सीटों पर जीत हासिल की। विजयाराजे सिंधिया भिंड से, उनके पुत्र माधवराव सिंधिया गुना से और अटल बिहारी वाजपेयी ग्वालियर से सांसद बने। </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

