
@{
    ViewBag.Title = "SabitriBaiPhule";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <h2>सावित्री बाई फुले: जिन्होंने औरतों को ही नहीं, मर्दों को भी उनकी जड़ता और मूर्खता से आज़ाद किया</h2>
                        <p>दुनिया में लगातार विकसित और मुखर हो रही नारीवादी सोच की ठोस बुनियाद सावित्रीबाई और उनके पति ज्योतिबा ने मिलकर डाली. दोनों ने समाज की कुप्रथाओं को पहचाना, विरोध किया और उनका समाधान पेश किया.</p>
                        <p>दो साड़ी लेकर जाती थीं. रास्ते में कुछ लोग उन पर गोबर फेंक देते थे. गोबर फेंकने वाले ब्राह्मणों का मानना था कि शूद्र-अतिशूद्रों को पढ़ने का अधिकार नहीं है.</p>
                        <p>घर से जो साड़ी पहनकर निकलती थीं वो दुर्गंध से भर जाती थी. स्कूल पहुंच कर दूसरी साड़ी पहन लेती थीं. फिर लड़कियों को पढ़ाने लगती थीं.</p>
                        <p>यह घटना 1 जनवरी 1848 के आस-पास की है. इसी दिन सावित्री बाई फुले ने पुणे शहर के भिड़ेवाडी में लड़कियों के लिए एक स्कूल खोला था. आज उनका जन्मदिन है.</p>
                        <p>आज के दिन भारत की सभी महिलाओं और पुरुषों को उनके सम्मान में उन्हीं की तरह का टीका लगाना चाहिए क्योंकि इस महिला ने स्त्रियों को ही नहीं मर्दों को भी उनकी जड़ता और मूर्खता से आज़ाद किया है.</p>
                        <p>इस साल दो जनवरी को केरल में अलग-अलग दावों के अनुसार तीस से पचास लाख औरतें छह सौ किमी रास्ते पर दीवार बन कर खड़ी थीं. 1848 में सावित्री बाई अकेले ही भारत की करोड़ों औरतों के लिए दीवार बन कर खड़ी हो गई थीं.</p>
                        <p>केरल की इस दीवार की नींव सावित्री बाई ने अकेले डाली थी. अपने पति ज्येतिबा फुले और सगुणाबाई से मिलकर.</p>
                        <p>इनकी जीवनी से गुज़रिए आप गर्व से भर जाएंगे. सावित्री बाई की तस्वीर हर स्कूल में होनी चाहिए चाहे वह सरकारी हो या प्राइवेट. दुनिया के इतिहास में ऐसे महिला नहीं हुई.</p>
                        <p>जिस ब्राह्मणवाद ने उन पर गोबर फेंके, उनके पति ज्योति बा को पढ़ने से पिता को इतना धमकाया कि पिता ने बेटे को घर से ही निकाल दिया. उस सावित्री बाई ने एक ब्राह्मण की जान बचाई जब उससे एक महिला गर्भवती हो गई. गांव के लोग दोनों को मार रहे थे. सावित्री बाई पहुंच गईं और दोनों को बचा लिया.</p>
                        <p>सावित्री बाई ने पहला स्कूल नहीं खोला, पहली अध्यापिका नहीं बनीं बल्कि भारत में औरतें अब वैसी नहीं दिखेंगी जैसी दिखती आई हैं, इसका पहला जीता जागता मौलिक चार्टर बन गईं.</p>
                        <p>उन्होंने भारत की मरी हुई और मार दी गई औरतों को दोबारा से जन्म दिया. मर्दों का चोर समाज पुणे की विधवाओं को गर्भवती कर आत्महत्या के लिए छोड़ जाता था. सावित्री बाई ने ऐसी गर्भवती विधवाओं के लिए जो किया है उसकी मिसाल दुनिया में शायद ही हो.</p>
                        <p>‘1892 में उन्होंने महिला सेवा मंडल के रूप में पुणे की विधवा स्त्रियों के आर्थिक विकास के लिए देश का पहला महिला संगठन बनाया. इस संगठन में हर 15 दिनों में सावित्रीबाई स्वयं सभी गरीब दलित और विधवा स्त्रियों से चर्चा करतीं, उनकी समस्या सुनती और उसे दूर करने का उपाय भी सुझाती.’</p>
                        <p>मैंने यह हिस्सा फार्वर्ड प्रेस में सुजाता पारमिता के लेख से लिया है. सुजाता ने सावित्रीबाई फुले का जीवन-वृत विस्तार से लिखा है. आप उसे पढ़िए और शिक्षक हैं तो क्लासरूम में पढ़ कर सुनाइये. ये हिस्सा ज़ोर-ज़ोर से पढ़िए.</p>
                        <p>‘फुले दम्पत्ति ने 28 जनवरी 1853 में अपने पड़ोसी मित्र और आंदोलन के साथी उस्मान शेख के घर में बाल हत्या प्रतिबंधक गृह की स्थापना की. जिसकी पूरी जिम्मेदारी सावित्रीबाई ने संभाली.</p>
                        <p>वहां सभी बेसहारा गर्भवती स्त्रियों को बगैर किसी सवाल के शामिल कर उनकी देखभाल की जाती उनकी प्रसूति कर बच्चों की परवरिश की जाती जिसके लिए वहीं पालना घर भी बनाया गया. यह समस्या कितनी विकराल थी इसका अंदाजा इसी बात से लगाया जा सकता है कि मात्र 4 सालों के अंदर ही 100 से अधिक विधवा स्त्रियों ने इस गृह में बच्चों को जन्म दिया.’</p>
                        <p>दुनिया में लगातार विकसित और मुखर हो रही नारीवादी सोच की ऐसी ठोस बुनियाद सावित्रीबाई और उनके पति ज्योतिबा ने मिलकर डाली. दोनों ऑक्सफोर्ड नहीं गए थे. बल्कि कुप्रथाओं को पहचाना, विरोध किया और समाधान पेश किया.</p>
                        <p>मैंने कुछ नया नहीं लिखा है. जो लिखा था उसे ही पेश किया है. बल्कि कम लिखा है. इसलिए लिखा है ताकि हम सावित्रीबाई फुले को सिर्फ डाक टिकटों के लिए याद न करें.</p>
                        <p>याद करें तो इस बात के लिए कि उस समय का समाज कितना घटिया और निर्दयी था, उस अंधविश्वासी समाज में कोई तार्किक और सह्रदयी एक महिला भी थी जिसका नाम सावित्री बाई फुले था.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

