
@{
    ViewBag.Title = "SantKabirdas";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">

                        <img src="Img/SaintKabir.jpg" class=" img-responsive" style="float:right; margin-left:20px;margin-bottom:20px;" width="350">

                        <h3 class="halantOrange">कबीर दास</h3>
                        <h4 class="halantGreen">कबीर दास जी का जीवन परिचय </h4>
                        <p> भारत के महान संत और आध्यात्मिक कवि कबीर दास का जन्म वर्ष 1440 में और मृत्यु वर्ष 1518 में हुई थी। इस्लाम के अनुसार ‘कबीर’ का अर्थ महान होता है। कबीर पंथ एक विशाल धार्मिक समुदाय है जिन्होंने संत आसन संप्रदाय के उत्पन्न कर्ता के रुप में कबीर को बताया। कबीर पंथ के लोग को कबीर पंथी कहे जाते है जो पूरे उत्तर और मध्य भारत में फैले हुए है। संत कबीर के लिखे कुछ महान रचनाओं में बीजक, कबीर ग्रंथावली, अनुराग सागर, सखी ग्रंथ आदि है। ये स्पष्ट नहीं है कि उनके माता-पिता कौन थे लेकिन ऐसा सुना गया है कि उनकी परवरिश करने वाला कोई बेहद गरीब मुस्लिम बुनकर परिवार था। कबीर बेहद धार्मिक व्यक्ति थे और एक महान साधु बने। अपने प्रभावशाली परंपरा और संस्कृति से उन्हें विश्व प्रसिद्धि मिली।</p>
                        <p>ऐसा माना जाता है कि अपने बचपन में उन्होंने अपनी सारी धार्मिक शिक्षा रामानंद नामक गुरु से ली। और एक दिन वो गुरु रामानंद के अच्छे शिष्य के रुप में जाने गये। उनके महान कार्यों को पढ़ने के लिये अध्येता और विद्यार्थी कबीर दास के घर में ठहरते है।</p>
                        <p>इस बात का कोई साक्ष्य नहीं है कि उनके असली माता-पिता कौन थे लेकिन ऐसा माना जाता है कि उनका लालन-पालन एक गरीब मुस्लिम परिवार में हुआ था। उनको नीरु और नीमा (रखवाला) के द्वारा वाराणसी के एक छोटे नगर से पाया गया था। कबीर के माँ-बाप बेहद गरीब और अनपढ़ थे लेकिन उन्होंने कबीर को पूरे दिल से स्वीकार किया और खुद के व्यवसाय के बारे में शिक्षित किया। उन्होंने एक सामान्य गृहस्वामी और एक सूफी के संतुलित जीवन को जीया।</p>
                        <h4 class="halantGreen">कबीर दास का अध्यापन </h4>
                        <p>ये माना जाता है कि उन्होंने अपनी धार्मिक शिक्षा गुरु रामानंद से ली। शुरुआत में रामानंद कबीर दास को अपने शिष्य के रुप में लेने को तैयार नहीं थे। लेकिन बाद की एक घटना ने रामानंद को कबीर को शिष्य बनाने में अहम भूमिका निभायी। एक बार की बात है, संत कबीर तालाब की सीढ़ियों पर लेटे हुए थे और रामा-रामा का मंत्र पढ़ रहे थे, रामानंद भोर में नहाने जा रहे थे और कबीर उनके पैरों के नीचे आ गये इससे रामानंद को अपनी गलती का एहसास हुआ और वे कबीर को अपने शिष्य के रुप में स्वीकार करने को मजबूर हो गये। ऐसा माना जाता है कि कबीर जी का परिवार आज भी वाराणसी के कबीर चौरा में निवास करता है।</p>
                        <p>वाराणसी में संत कबीर मठ की फोटो है जहाँ संत लोग कबीर के दोहे गाने में व्यस्त है। लोगों को जीवन की सच्ची शिक्षा देने के लिये ये एक अच्छी जगह है।</p>
                        <h4 class="halantGreen">कबीर मठ</h4>
                        <p>कबीर मठ वाराणसी के कबीर चौरा में स्थित है और लहरतारा, वाराणसी के पीछे के मार्ग में। नीरुटीला उनके माता-पिता नीरु और नीमा का घर था। अब ये घर विद्यार्थीयों और अध्येताओं के ठहरने की जगह बन चुकी है जो कबीर की रचनाओं को पढ़ते है।</p>
                        <h4 class="halantGreen">दर्शनशास्त्र</h4>
                        <p>हिन्दू धर्म, इस्लाम के बिना छवि वाले भगवान के साथ व्यक्तिगत भक्तिभाव के साथ ही तंत्रवाद जैसे उस समय के प्रचलित धार्मिक स्वाभाव के द्वारा कबीर दास के लिये पूर्वाग्रह था, कबीर दास पहले भारतीय संत थे जिन्होंने हिन्दू और इस्लाम धर्म को सार्वभौमिक रास्ता दिखा कर समन्वित किया जिसे दोनों धर्म के द्वारा माना गया। कबीर के अनुसार हर जीवन का दो धार्मिक सिद्धातों से रिश्ता होता है (जीवात्मा और परमात्मा)। मोक्ष के बारे में उनका विचार था कि ये इन दो दैवीय सिद्धांतों को एक करने की प्रक्रिया है।</p>
                        <p>उनकी महान रचना बीजक में कविताओं की भरमार है जो कबीर के धार्मिकता पर सामान्य विचार को स्पष्ट करता है। कबीर की हिन्दी उनके दर्शन की तरह ही सरल और प्राकृत थी। वो ईश्वर में एकात्मकता का अनुसरण करते थे। वो हिन्दू धर्म में मूर्ति पूजा के घोर विरोधी थे और भक्ति तथा सूफ़ी विचारों में पूरा भरोसा दिखाते थे।</p>
                        <h4 class="halantGreen">कबीर की कविताएँ</h4>
                        <p>सच्चे गुरु की प्रशंसा से गुंजायमान लघु और सहज तरीकों से कविताओं को उन्होंने बनाया था। अनपढ़ होने के बावजूद भी उन्होंने अवधि, ब्रज, और भोजपुरी के साथ हिन्दी में अपनी कविता लिखी थी। वे कुछ लोगों द्वारा अपमानित किये गये लेकिन उन्होंने कभी बुरा नहीं माना।</p>
                        <h4 class="halantGreen">विरासत</h4>
                        <p>कबीर के द्वारा रचित सभी कविताएँ और गीत कई सारी भाषाओं में मौजूद है। कबीर और उनके अनुयायियों को उनके काव्यगत धार्मिक भजनों के अनुसार नाम दिया जाता है जैसे बनिस और बोली। विविध रुप में उनके कविताओं को साखी, श्लोक (शब्द) और दोहे (रमेनी) कहा जाता है। साखी का अर्थ है परम सत्य को दोहराते और याद करते रहना। इन अभिव्यक्तियों का स्मरण, कार्य करना और विचारमग्न के द्वारा आध्यात्मिक जागृति का एक रास्ता उनके अनुयायियों और कबीर के लिये बना हुआ है।</p>
                        <h4 class="halantGreen">कबीर दास का जीवन इतिहास</h4>
                        <h4 class="halantGreen">सिद्धपीठ कबीरचौरा मठ मुलगड़ी और उसकी परंपरा</h4>
                        <p>कबीरचौरा मठ मुलगड़ी संत-शिरोमणि कबीर दास का घर, ऐतिहासिक कार्यस्थल और ध्यान लगाने की जगह है। वे अपने प्रकार के एकमात्र संत है जो “सब संतन सरताज” के रुप में जाने जाते है। ऐसा माना जाता है कि जिस तरह संत कबीर के बिना सभी संतों का कोई मूल्य नहीं उसी तरह कबीरचौरा मठ मुलगड़ी के बिना मानवता का इतिहास मूल्यहीन है। कबीरचौरा मठ मुलगड़ी का अपना समृद्ध परंपरा और प्रभावशाली इतिहास है। ये कबीर के साथ ही सभी संतों के लिये साहसिक विद्यापीठ है । मध्यकालीन भारत के भारतीय संतों ने इसी जगह से अपनी धार्मिक शिक्षा प्राप्त की थी। मानव परंपरा के इतिहास में ये साबित हुआ है कि गहरे चिंतन के लिये हिमालय पर जाना जरुरी नहीं है बल्कि इसे समाज में रहते हुए भी किया जा सकता है। कबीर दास खुद इस बात के आदर्श संकेतक थे। वो भक्ति के सच्चे प्रचारक थे साथ ही उन्होंने आमजन की तरह साधारण जीवन लोगों के साथ जीया। पत्थर को पूजने के बजाय उन्होंने लोगों को स्वतंत्र भक्ति का रास्ता दिखाया। इतिहास गवाह है कि यहाँ की परंपरा ने सभी संतों को सम्मान और पहचान दी।</p>
                        <p>कबीर और दूसरे संतों के द्वारा उनकी परंपरा के इस्तेमाल किये गये वस्तुओं को आज भी कबीर मठ में सुरक्षित तरीके से रखा गया है। सिलाई मशीन, खड़ाऊ, रुद्राक्ष की माला (रामानंद से मिली हुयी), जंग रहित त्रिशूल और इस्तेमाल की गयी दूसरी सभी चीजें इस समय भी कबीर मठ में उपलब्ध है।</p>
                        <h4 class="halantGreen">ऐतिहासिक कुआँ</h4>
                        <p>कबीर मठ में एक ऐतिहासिक कुआँ है, जिसके पानी को उनकी साधना के अमृत रस के साथ मिला हुआ माना जाता है। दक्षिण भारत से महान पंडित सर्वानंद के द्वारा पहली बार ये अनुमान लगाया गया था। वो यहाँ कबीर से बहस करने आये थे और प्यासे हो गये। उन्होंने पानी पिया और कमाली से कबीर का पता पूछा। कमाली नें कबीर के दोहे के रुप में उनका पता बताया।</p>
                        <h4 class="halantGreen">“कबीर का शिखर पर, सिलहिली गाल</h4>
                        <h4 class="halantGreen">पाँव ना टिकाई पीपील का, पंडित लड़े बाल”</h4>
                        <p>वे कबीर से बहस करने गये थे लेकिन उन्होंने बहस करना स्वीकार नहीं किया और सर्वानंद को लिखित देकर अपनी हार स्वीकार की। सर्वानंद वापस अपने घर आये और हार की उस स्वीकारोक्ति को अपने माँ को दिखाया और अचानक उन्होंने देखा कि उनका लिखा हुआ उल्टा हो चुका था। वो इस सच्चाई से बेहद प्रभावित हुए और वापस से काशी के कबीर मठ आये बाद में कबीर दास के अनुयायी बने। वे कबीर से इस स्तर तक प्रभावित थे कि अपने पूरे जीवन भर उन्होंने कभी कोई किताब नहीं छुयी। बाद में, सर्वानंद आचार्य सुरतीगोपाल साहब की तरह प्रसिद्ध हुए। कबीर के बाद वे कबीर मठ के प्रमुख बने।</p>
                        <h4 class="halantGreen">कैसे पहुँचे:</h4>
                        <p>सिद्धपीठ कबीरचौरा मठ मुलगड़ी वाराणसी के रुप में जाना जाने वाला भारत के प्रसिद्ध सांस्कृतिक शहर में स्थित है। कोई भी यहाँ हवाईमार्ग, रेलमार्ग या सड़कमार्ग से पहुँच सकता है। ये वाराणसी हवाई अड्डे से 18 किमी और वाराणसी रेलवे स्टेशन से 3 किमी की दूरी पर स्थित है।</p>
                        <h4 class="halantGreen">काशी नरेश यहाँ क्षमा माँगने आये थे:</h4>
                        <p>एक बार की बात है, काशी नरेश राजा वीरदेव सिंह जुदेव अपना राज्य छोड़ने के दौरान माफी माँगने के लिये अपनी पत्नी के साथ कबीर मठ आये थे। कहानी ऐसे है कि: एक बार काशी नरेश ने कबीर दास की ढ़ेरों प्रशंसा सुनकर सभी संतों को अपने राज्य में आमंत्रित किया, कबीर दास राजा के यहाँ अपनी एक छोटी सी पानी के बोतल के साथ पहुँचे। उन्होंने उस छोटे बोतल का सारा पानी उनके पैरों पर डाल दिया, कम मात्रा का पानी देर तक जमीन पर बहना शुरु हो गया। पूरा राज्य पानी से भर उठा, इसलिये कबीर से इसके बारे में पूछा गया उन्होंने कहा कि एक भक्त जो जगन्नाथपुरी में खाना बना रहा था उसकी झोपड़ी में आग लग गयी।</p>
                        <p>जो पानी मैंने गिराया वो उसके झोपड़ी को आग से बचाने के लिये था। आग बहुत भयानक थी इसलिये छोटे बोतल से और पानी की जरुरत हो गयी थी। लेकिन राजा और उनके अनुयायी इस बात को स्वीकार नहीं किया और वे सच्चा गवाह चाहते थे। उनका विचार था कि आग लगी उड़ीसा में और पानी डाला जा रहा है काशी में। राजा ने अपने एक अनुगामी को इसकी छानबीन के लिये भेजा। अनुयायी आया और बताया कि कबीर ने जो कहा था वो बिल्कुल सत्य था। इस बात के लिये राजा बहुत शर्मिंदा हुए और तय किया कि वो माफी माँगने के लिये अपनी पत्नी के साथ कबीर मठ जाएँगे। अगर वो माफी नहीं देते है तो वो वहाँ आत्महत्या कर लेंगे। उन्हें वहाँ माफी मिली और उस समय से राजा कबीर मठ से हमेशा के लिये जुड़ गये।</p>
                        <h4 class="halantGreen">समाधि मंदिर:</h4>
                        <p>समाधि मंदिर वहाँ बना है जहाँ कबीर दास अक्सर अपनी साधना किया करते थे। सभी संतों के लिये यहाँ समाधि से साधना तक की यात्रा पूरी हो चुकी है। उस दिन से, ये वो जगह है जहाँ संत अत्यधिक ऊर्जा के बहाव को महसूस करते है। ये एक विश्व प्रसिद्ध शांति और ऊर्जा की जगह है। ऐसा माना जाता है कि उनकी मृत्यु के बाद लोग उनके शरीर के अंतिम संस्कार को लेकर झगड़ने लगे। लेकिन जब समाधि कमरे के दरवाजे को खोला गया, तो वहाँ केवल दो फूल थे जो अंतिम संस्कार के लिये उनके हिन्दू और मुस्लिम अनुयायियों के बीच बाँट दिया गया। मिर्ज़ापुर के मोटे पत्थर से समाधि मंदिर का निर्माण किया गया है।</p>
                        <h4 class="halantGreen">कबीर चबूतरा पर बीजक मंदिर:</h4>
                        <p>ये जगह कबीर दास का कार्यस्थल होने के साथ साधना स्थल भी था। ये वो जगह है जहाँ कबीर ने अपने अनुयायियों को भक्ति, ज्ञान, कर्म और मानवता की शिक्षा दी। इस जगह का नाम रखा गया कबीर चबूतरा। बीजक कबीर दास की महान रचना थी इसी वजह से कबीर चबूतरा का नाम बीजक मंदिर रखा गया।</p>
                        <h4 class="halantGreen">कबीर तेरी झोपड़ी, गलकट्टो के पास।</h4>
                        <h4 class="halantGreen">जो करेगा वो भरेगा, तुम क्यों होत उदास।</h4>
                        <h4 class="halantGreen">देश के लिये कबीर दास का योगदान</h4>
                        <p>उत्तर भारत में अपने भक्ति आंदोलन के लिये बड़े पैमाने पर मध्यकालीन भारत के एक भक्ति और सूफी संत थे कबीर दास। इनका जीवन चक्र काशी (इसको बनारस या वाराणसी के नाम से भी जाना जाता है) के केन्द्र में था। वो माता-पिता की वजह से बुनकर व्यवसाय से जुड़े थे और जाति से जुलाहा थे। इनके भक्ति आंदोलन के लिये दिये गये विशाल योगदान को भारत में नामदेव, रविदास, और फरीद के साथ पथप्रदर्शक के रुप में माना जाता है। वे मिश्रित आध्यात्मिक स्वाभाव के संत थे (नाथ परंपरा, सूफिज्म, भक्ति) जो खुद से उन्हंट विशिष्ट बनाता है। उन्होंने कहा है कि कठिनाई की डगर सच्चा जीवन और प्यार है।</p>
                        <p>15वीं शताब्दी में, वाराणसी में लोगों के जीवन के सभी क्षेत्रों में शिक्षण केन्द्रों के साथ ही ब्राह्मण धर्मनिष्ठता के द्वारा मजबूती से संघटित हुआ था। जैसा कि वे एक निम्न जाति जुलाहा से संबंध रखते थे कबीर दास अपने विचारों को प्रचारित करने में कड़ी मेहनत करते थे। वे कभी भी लोगों में भेदभाव नहीं करते थे चाहे वो वैश्या, निम्न या उच्च जाति से संबंध रखता हो। वे खुद के अनुयायियों के साथ सभी को एक साथ उपदेश दिया करते थे। ब्राह्मणों द्वारा उनका अपने उपदेशों के लिये उपहास उड़ाया जाता था लेकिन वे कभी उनकी बुराई नहीं करते थे इसी वजह से कबीर सामान्य जन द्वारा बहुत पसंद किये जाते थे। वे अपने दोहो के द्वारा जीवन की असली सच्चाई की ओर आम-जन के दिमाग को ले जाने की शुरुआत कर चुके थे।</p>
                        <p>वे हमेशा मोक्ष के साधन के रुप में कर्मकाण्ड और सन्यासी तरीकों का विरोध करते थे। उन्होंने कहा कि अपनों के लाल रंग से ज्यादा महत्व है अच्छाई के लाल रंग का। उनके अनुसार, अच्छाई का एक दिल पूरी दुनिया की समृद्धि को समाहित करता है। एक व्यक्ति दया के साथ मजबूत होता है, क्षमा उसका वास्तविक अस्तित्व है तथा सही के साथ कोई व्यक्ति कभी न समाप्त होने वाले जीवन को प्राप्त करता है। कबीर ने कहा कि भगवान आपके दिल में है और हमेशा साथ रहेगा। तो उनकी भीतरी पूजा कीजिये। उन्होंने अपने एक उदाहरण से लोगों का दिमाग परिवर्तित कर दिया कि अगर यात्रा करने वाला चलने के काबिल नहीं है, तो यात्री के लिये रास्ता क्या करेगा।</p>
                        <p>उन्होंने लोगों की आँखों को खोला और उन्हें मानवता, नैतिकता और धार्मिकता का वास्तविक पाठ पढ़ाया। वे अहिंसा के अनुयायी और प्रचारक थे। उन्होंने अपने समय के लोगों के दिमाग को अपने क्रांतिकारी भाषणों से बदल दिया। कबीर के पैदा होने और वास्तविक परिवार का कोई पुख्ता प्रमाण मौजूद नहीं है। कुछ कहते है कि वो मुस्लिम परिवार में जन्मे थे तो कोई कहता है कि वो उच्च वर्ग के ब्राह्मण परिवार से थे। उनके निधन के बाद हिन्दू और मुस्लिमों में उनके अंतिम संस्कार को लेकर विवाद हो गया था। उनका जीवन इतिहास प्रसिद्ध है और अभी तक लोगों को सच्ची इंसानियत का पाठ पढ़ाता है।</p>
                        <h4 class="halantGreen">कबीर दास का धर्म</h4>
                        <p>कबीर दास के अनुसार, जीवन जीने का तरीका ही असली धर्म है जिसे लोग जीते है ना कि वे जो लोग खुद बनाते है। उनके अनुसार कर्म ही पूजा है और जिम्मेदारी ही धर्म है। वे कहते थे कि अपना जीवन जीयो, जिम्मेदारी निभाओ और अपने जीवन को शाश्वत बनाने के लिये कड़ी मेहनत करो। कभी भी जीवन में सन्यासियों की तरह अपनी जिम्मेदारियों से दूर मत जाओ। उन्होंने पारिवारिक जीवन को सराहा है और महत्व दिया है जो कि जीवन का असली अर्थ है। वेदों में यह भी उल्लिखित है कि घर छोड़ कर जीवन को जीना असली धर्म नहीं है। गृहस्थ के रुप में जीना भी एक महान और वास्तविक सन्यास है। जैसे, निर्गुण साधु जो एक पारिवारिक जीवन जीते है, अपनी रोजी-रोटी के लिये कड़ी मेहनत करते है और साथ ही भगवान का भजन भी करते है।</p>
                        <p>कबीर ने लोगों को विशुद्ध तथ्य दिया कि इंसानियत का क्या धर्म है जो कि किसी को अपनाना चाहिये। उनके इस तरह के उपदेशों ने लोगों को उनके जीवन के रहस्य को समझने में मदद किया।</p>
                        <h4 class="halantGreen">कबीर दास: एक हिन्दू या मुस्लिम</h4>
                        <p>ऐसा माना जाता है कि कबीर दास के मृत्यु के बाद हिन्दू और मुस्लिमों ने उनके शरीर को पाने के लिये अपना-अपना दावा पेश किया। दोनों धर्मों के लोग अपने रीति-रिवाज़ और परंपरा के अनुसार कबीर का अंतिम संस्कार करना चाहते थे। हिन्दुओं ने कहा कि वो हिन्दू थे इसलिये वे उनके शरीर को जलाना चाहते है जबकि मुस्लिमों ने कहा कि कबीर मुस्लिम थे इसलिये वो उनको दफनाना चाहते है। लेकिन जब उन लोगों ने कबीर के शरीर पर से चादर हटायी तो उन्होंने पाया कि कुछ फूल वहाँ पर पड़े है। उन्होंने फूलों को आपस में बाँट लिया और अपने-अपने रीति-रिवाजों से महान कबीर का अंतिम संस्कार संपन्न किया। ऐसा भी माना जाता है कि जब दोनों समुदाय आपस में लड़ रहे थे तो कबीर दास की आत्मा आयी और कहा कि “ना ही मैं हिन्दू हूँ और ना ही मैं मुसलमान हूँ। यहाँ कोई हिन्दू या मुसलमान नहीं है। मैं दोनों हूँ, मैं कुछ नहीं हूँ, और सब हूँ। मैं दोनों मे भगवान देखता हूँ। उनके लिये हिन्दू और मुसलमान एक है जो इसके गलत अर्थ से मुक्त है। परदे को हटाओ और जादू देखो”।</p>
                        <p>कबीर दास का मंदिर काशी के कबीर चौराहा पर बना है जो भारत के साथ ही विदेशी सैलानियों के लिये भी एक बड़े तीर्थस्थान के रुप में प्रसिद्ध हो गया है। मुस्लिमों द्वारा उनके कब्र पर एक मस्जिद बनायी गयी है जो मुस्लिमों के तीर्थस्थान के रुप में बन चुकी है।</p>
                        <h4 class="halantGreen">कबीर दास के भगवान</h4>
                        <p>कबीर के गुरु रामानंद ने उन्हें गुरु मंत्र के रुप में भगवान ‘रामा’ नाम दिया था जिसका उन्होंने अपने तरीके से अर्थ निकाला था। वे अपने गुरु की तरह सगुण भक्ति के बजाय निर्गुण भक्ति को समर्पित थे। उनके रामा संपूर्ण शुद्ध सच्चदानंद थे, दशरथ के पुत्र या अयोध्या के राजा नहीं जैसा कि उन्होंने कहा “दशरथ के घर ना जन्में, ई चल माया किनहा”। वो इस्लामिक परंपरा से ज्यादा बुद्धा और सिद्धा से बेहद प्रभावित थे। उनके अनुसार “निर्गुण नाम जपो रहे भैया, अविगति की गति लाखी ना जैया”।</p>
                        <p>उन्होंने कभी भी अल्लाह या राम में फर्क नहीं किया, कबीर हमेशा लोगों को उपदेश देते कि ईश्वर एक है बस नाम अलग है। वे कहते है कि बिना किसी निम्न और उच्च जाति या वर्ग के लोगों के बीच में प्यार और भाईचारे का धर्म होना चाहिये। ऐसे भगवान के पास अपने आपको समर्पित और सौंप दो जिसका कोई धर्म नहीं हो। वो हमेशा जीवन में कर्म पर भरोसा करते थे।</p>
                        <h4 class="halantGreen">कबीर दास की मृत्यु</h4>
                        <p>15 शताब्दी के सूफी कवि कबीर दास के बारे में ऐसा माना जाता है कि उन्होंने अपने मरने की जगह खुद से चुनी थी, मगहर, जो लखनउ शहर से 240 किमी दूरी पर स्थित है। लोगों के दिमाग से मिथक को हटाने के लिये उन्होंने ये जगह चुनी थी उन दिनों, ऐसा माना जाता था कि जिसकी भी मृत्यु मगहर में होगी वो अगले जन्म में बंदर बनेगा और साथ ही उसे स्वर्ग में जगह नहीं मिलेगी। कबीर दास की मृत्यु काशी के बजाय मगहर में केवल इस वजह से हुयी थी क्योंकि वो वहाँ जाकर लोगों के अंधविश्वास और मिथक को तोड़ना चाहते थे। 1575 विक्रम संवत में हिन्दू कैलेंडर के अनुसार माघ शुक्ल एकादशी के वर्ष 1518 में जनवरी के महीने में मगहर में उन्होंने दुनिया को अलविदा कहा। ऐसा भी माना जाता है कि जो कोई भी काशी में मरता है वो सीधे स्वर्ग में जाता है इसी वजह से मोक्ष की प्राप्ति के लिये हिन्दू लोग अपने अंतिम समय में काशी जाते है। एक मिथक को मिटाने के लिये कबीर दास की मृत्यु काशी के बाहर हुयी। इससे जुड़ा उनका एक खास कथन है कि “जो कबीरा काशी मुएतो रामे कौन निहोरा” अर्थात अगर स्वर्ग का रास्ता इतना आसान होता तो पूजा करने की जरुरत क्या है। कबीर दास का शिक्षण व्यापक है और सभी के लिये एक समान है क्योंकि वो हिन्दू, मुस्लिम, सिक्ख और दूसरे किसी धर्मों में भेदभाव नहीं करते थे। मगहर में कबीर दास की समाधि और मज़ार दोनों है। कबीर की मृत्यु के बाद हिन्दू और मुस्लिम धर्म के लोग उनके अंतिम संस्कार के लिये आपस में भिड़ गये थे। लेकिन उनके मृत शरीर से जब चादर हटायी गयी तो वहाँ पर कुछ फूल पड़े थे जिसे दोनों समुदायों के लोगों ने आपस में बाँट लिया और फिर अपने अपने धर्म के अनुसार कबीर जी का अंतिम संस्कार किया।</p>
                        <p>समाधि से कुछ मीटर दूरी पर एक गुफा है जो मृत्यु से पहले उनके ध्यान लगाने की जगह को इंगित करती है। उनके नाम से एक ट्रस्ट चल रहा है जिसका नाम है कबीर शोध संस्थान जो कबीर दास के कार्यों पर शोध को प्रचारित करने के लिये शोध संस्थान के रुप में है। वहाँ पर शिक्षण संस्थान भी है जो कबीर दास के शिक्षण को भी समाहित किया हुआ है।</p>
                        <h4 class="halantGreen">कबीर दास: एक सूफी संत</h4>
                        <p>भारत में मुख्य आध्यात्मिक कवियों में से एक कबीर दास महान सूफी संत थे जो लोगों के जीवन को प्रचारित करने के लिये अपने दार्शनिक विचार दिये। उनका दर्शन कि ईश्वर एक है और कर्म ही असली धर्म है ने लोगों के दिमाग पर गहरी छाप छोड़ी। उनका भगवान की ओर प्यार और भक्ति ने हिन्दू भक्ति और मुस्लिम सूफी के विचार को पूरा किया।</p>
                        <p>ऐसा माना जाता है कि उनका संबंध हिन्दू ब्राह्मण परिवार से था लेकिन वे बिन बच्चों के मुस्लिम परिवार नीरु और नीमा द्वारा अपनाये गये थे । उन्हें उनके माता-पिता द्वारा काशी के लहरतारा में एक तालाब में बड़े से कमल के पत्ते पर पाया गया था। उस समय दकियानूसी हिन्दू और मुस्लिम लोगों के बीच में बहुत सारी असहमति थी जो कि अपने दोहों के द्वारा उन मुद्दों को सुलझाना कबीर दास का मुख्य केन्द्र बिन्दु था</p>
                        <p>पेशेवर ढ़ग से वो कभी कक्षा में नहीं बैठे लेकिन वो बहुत ज्ञानी और अध्यात्मिक व्यक्ति थे। कबीर ने अपने दोहे औपचारिक भाषा में लिखे जो उस समय अच्छी तरह से बोली जाती थी जिसमें ब्रज, अवधि और भोजपुरी समाहित थी। उन्होंने बहुत सारे दोहे तथा सामाजिक बंधंनों पर आधारित कहानियों की किताबें लिखी।</p>
                        <h4 class="halantGreen">कबीर दास की रचनाएँ</h4>
                        <p>कबीर के द्वारा लिखी गयी पुस्तकें सामान्यत: दोहा और गीतों का समूह होता था। संख्या में उनका कुल कार्य 72 था और जिसमें से कुछ महत्पूर्ण और प्रसिद्ध कार्य है जैसे रक्त, कबीर बीजक, सुखनिधन, मंगल, वसंत, शब्द, साखी, और होली अगम।</p>
                        <p>कबीर की लेखन शैली और भाषा बहुत सुंदर और साधारण होती है। उन्होंने अपना दोहा बेहद निडरतापूर्वक और सहज रुप से लिखा है जिसका कि अपना अर्थ और महत्व है। कबीर ने दिल की गहराईयों से अपनी रचनाओं को लिखा है। उन्होंने पूरी दुनिया को अपने सरल दोहों में समेटा है। उनका कहा गया किसी भी तुलना से ऊपर और प्रेरणादायक है।</p>
                        <h4 class="halantGreen">कबीर दास की जन्मस्थली</h4>
                        <p>वाराणसी के लहरतारा में संत कबीर मठ में एक तालाब है जहाँ नीरु और नीमा नामक एक जोड़े ने कबीर को पाया था।</p>
                        <p>ये शांति और सच्ची शिक्षण की महान इमारत है जहाँ पूरी दुनिया के संत वास्तविक शिक्षा की खातिर आते है।</p>
                        <h4 class="halantGreen">कबीर दास के दोहे</h4>
                        <pre>
                        “जब मैं था तब हरी नहीं, अब हरी है मैं नहीं
                        सब अंधियाँरा मिट गया, जब दीपक देखया महीन”
                        “बड़ा हुआ तो क्या हुआ जैसे पेड़ खजूर
                        पंथी को छाया नहीं फल लागे अति दूर”
                        “बुरा जो देखन मैं चला, बुरा ना मिला कोय
                        जो मन देखा आपना, मुझसे बुरा ना कोय”
                        “गुरु गोविन्द दोहू खड़े, कागे लागू पाँय
                        बलीहारी गुरु आपने, गोविन्द दियो बताय”
                        “सब धरती कागज कारु, लेखनी सब वनराय
                        सात समुन्द्र की मासी कारु, गुरुगुन लिखा ना जाय”
                        “ऐसी वानी बोलिये, मन का आपा खोय
                        औरन को शीतल करुँ, खुद भी शीतल होय”
                        “निंदक नियरे राखिये, आँगन कुटी छवाय
                        बिन पानी बिन साबुन, निर्मल करे सुबव”
                        “दुख में सिमरन सब करे, सुख में करे ना कोय
                        जो सुख में सुमिरन करे तो दुख काहे को होय”
                        “माटी कहे कुम्हार से, तु क्या रौंधे मोहे
                        एक दिन ऐसा आयेगा, मैं रौंधुगी तोहे”
                        “चलती चक्की देखकर, दिया कबीरा रोय
                        दो पातन के बीच में, साबुत बचा ना कोय”
                        “मलिन आवत देख के, कलियाँ करे पुकार
                        फूले फूले चुन लिये, काल हमारी बार”
                        “काल करे सो आज कर, आज करे सो अब
                        पल में परलय होयेगी बहुरी करेगा कब”
                        “पोथी पढ़-पढ़ जग मुआ, पंडित भया ना कोय
                        ढ़ाई अक्षर प्रेम के, पढ़े सो पंडित होय”
                        “साईं इतना दीजीये, जा में कुटुम्ब समाय
                        मैं भी भूखा ना रहूँ, साधू ना भूखा जाय”
                        “लूट सके लूट ले, राम नाम की लूट
                        पाछे पछताएगा, जब प्रान जाएँगे छुट”
                        “माया मरी ना मन मरा, मर मर गये शरीर
                        आशा तृष्णा ना मरी, कह गये दास कबीर”

                        </pre>
                        Source:  https://www.hindikiduniya.com/biography/kabir-das/
                    </div>
                </div>
            </div>
        </div>
    </div>

