
@{
    ViewBag.Title = "SantRavidas";
}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 animated zoomInUp">
                <div class="panel panel-primary" style="border-radius:0px;">
                    <div class="panel-body">
                        <img src="Img/ravidasji.jpg" class=" img-responsive" style="float:left; margin-right:20px;margin-bottom:20px;" width="350">
                        <h3 class="halantOrange">संत रविदास</h3>
                        <h4 class="halantGreen">संत रविदास कौन थे</h4>
                        <p>रविदास भारत में 15वीं शताब्दी के एक महान संत, दर्शनशास्त्री, कवि, समाज-सुधारक और ईश्वर के अनुयायी थे। वो निर्गुण संप्रदाय अर्थात् संत परंपरा में एक चमकते नेतृत्वकर्ता और प्रसिद्ध व्यक्ति थे तथा उत्तर भारतीय भक्ति आंदोलन को नेतृत्व देते थे। ईश्वर के प्रति अपने असीम प्यार और अपने चाहने वाले, अनुयायी, सामुदायिक और सामाजिक लोगों में सुधार के लिये अपने महान कविता लेखनों के जरिये संत रविदास ने विविध प्रकार की आध्यात्मिक और सामाजिक संदेश दिये।</p>
                        <p>वो लोगों की नजर में उनकी सामाजिक और आध्यात्मिक जरुरतों को पूरा करने वाले मसीहा के रुप में थे। आध्यात्मिक रुप से समृद्ध रविदास को लोगों द्वारा पूजा जाता था। हर दिन और रात, रविदास के जन्म दिवस के अवसर पर तथा किसी धार्मिक कार्यक्रम के उत्सव पर लोग उनके महान गीतों आदि को सुनते या पढ़ते है। उन्हें पूरे विश्व में प्यार और सम्मान दिया जाता है हालाँकि उन्हें सबसे अधिक सम्मान उत्तर प्रदेश, पंजाब और महाराष्ट्रा में अपने भक्ति आंदोलन और धार्मिक गीतों के लिये मिलता था।</p>
                        <h4 class="halantGreen">संत रविदास से संबंधित तथ्य</h4>
                        <pre>
                            जन्म: 1377 एडी में (अर्थात् विक्रम संवत-माघ सुदी 15, 1433, 
                                 हालाँकि कुछ लोगों का मानना है कि ये 1440 एडी था) 
                                 सीर गोवर्धनपुर, वाराणसी, यूपी।
                            पिता: श्री संतोक दास जी
                            माता: श्रीमती कालसा देवी जी
                            दादा: श्री कालूराम जी
                            दादी: श्रीमती लखपती जी
                            पत्नी: श्रीमती लोनाजी
                            पुत्र: विजय दास जी
                            मृत्यु: वाराणसी में 1540 एडी में।
                        </pre>
                        <br>
                        <h4 class="halantGreen">आरंभिक जीवन</h4>
                        <p>संत रविदास का जन्म भारत के यूपी के वाराणसी शहर में माता कालसा देवी और बाबा संतोख दास जी के घर 15 वीं शताब्दी में हुआ था। हालाँकि, उनके जन्म की तारीख को लेकर विवाद भी है क्योंकि कुछ का मानना है कि ये 1376, 1377 और कुछ का कहना है कि ये 1399 सीइ में हुआ था। कुछ अध्येता के आँकड़ों के अनुसार ऐसा अनुमान लगाया गया था कि रविदास का पूरा जीवन काल 15वीं से 16वीं शताब्दी सीइ में 1450 से 1520 के बीच तक रहा।</p>
                        <p>रविदास के पिता मल साम्राज्य के राजा नगर के सरपंच थे और खुद जूतों का व्यापार और उसकी मरम्मत का कार्य करते थे। अपने बचपन से ही रविदास बेहद बहादुर और ईश्वर के बहुत बड़े भक्त थे लेकिन बाद में उन्हें उच्च जाति के द्वारा उत्पन्न भेदभाव की वजह से बहुत संघर्ष करना पड़ा जिसका उन्होंने सामना किया और अपने लेखन के द्वारा रविदास ने लोगों को जीवन के इस तथ्य से अवगत करवाया। उन्होंने हमेशा लोगों को सिखाया कि अपने पड़ोसियों को बिना भेद-भेदभाव के प्यार करो। </p>
                        <p>पूरी दुनिया में भाईचारा और शांति की स्थापना के साथ ही उनके अनुयायीयों को दी गयी महान शिक्षा को याद करने के लिये भी संत रविदास का जन्म दिवस का मनाया जाता है। अपने अध्यापन के आरंभिक दिनों में काशी में रहने वाले रुढ़ीवादी ब्राह्मणों के द्वारा उनकी प्रसिद्धि को हमेशा रोका जाता था क्योंकि संत रविदास अस्पृश्यता के भी गुरु थे। सामाजिक व्यवस्था को खराब करने के लिये राजा के सामने लोगों द्वारा उनकी शिकायत की गयी थी। रविदास को भगवान के बारे में बात करने से, साथ ही उनका अनुसरण करने वाले लोगों को अध्यापन और सलाह देने के लिये भी प्रतिबंधित किया गया था।</p>
                        <h4 class="halantGreen">रविदास की प्रारंभिक शिक्षा</h4>
                        <p>बचपन में संत रविदास अपने गुरु पंडित शारदा नंद के पाठशाला गये जिनको बाद में कुछ उच्च जाति के लोगों द्वारा रोका किया गया था वहाँ दाखिला लेने से। हालाँकि पंडित शारदा ने यह महसूस किया कि रविदास कोई सामान्य बालक न होकर एक ईश्वर के द्वारा भेजी गयी संतान है अत: पंडित शारदानंद ने रविदास को अपनी पाठशाला में दाखिला दिया और उनकी शिक्षा की शुरुआत हुयी। वो बहुत ही तेज और होनहार थे और अपने गुरु के सिखाने से ज्यादा प्राप्त करते थे। पंडित शारदा नंद उनसे और उनके व्यवहार से बहुत प्रभावित रहते थे उनका विचार था कि एक दिन रविदास आध्यात्मिक रुप से प्रबुद्ध और महान सामाजिक सुधारक के रुप में जाने जायेंगे।</p>
                        <p>पाठशाला में पढ़ने के दौरान रविदास पंडित शारदानंद के पुत्र के मित्र बन गये। एक दिन दोनों लोग एक साथ लुका-छिपी खेल रहे थे, पहली बार रविदास जी जीते और दूसरी बार उनके मित्र की जीत हुयी। अगली बार, रविदास जी की बारी थी लेकिन अंधेरा होने की वजह से वो लोग खेल को पूरा नहीं कर सके उसके बाद दोनों ने खेल को अगले दिन सुबह जारी रखने का फैसला किया। अगली सुबह रविदास जी तो आये लेकिन उनके मित्र नहीं आये। वो लंबे समय तक इंतजार करने के बाद अपने उसी मित्र के घर गये और देखा कि उनके मित्र के माता-पिता और पड़ोसी रो रहे थे।</p>
                        <p>उन्होंने उन्हीं में से एक से इसका कारण पूछा और अपने मित्र की मौत की खबर सुनकर हक्का-बक्का रह गये। उसके बाद उनके गुरु ने संत रविदास को अपने बेटे के लाश के स्थान पर पहुँचाया, वहाँ पहुँचने पर रविदास ने अपने मित्र से कहा कि उठो ये सोने का समय नहीं है दोस्त, ये तो लुका-छिपी खेलने का समय है। जैसै कि जन्म से ही गुरु रविदास दैवीय शक्तियों से समृद्ध थे, रविदास के ये शब्द सुनते ही उनके मित्र फिर से जी उठे। इस आश्चर्यजनक पल को देखने के बाद उनके माता-पिता और पड़ोसी चकित रह गये।</p>
                        <h4 class="halantGreen">वैवाहिक जीवन</h4>
                        <p>भगवान के प्रति उनके प्यार और भक्ति की वजह से वो अपने पेशेवर पारिवारिक व्यवसाय से नहीं जुड़ पा रहे थे और ये उनके माता-पिता की चिंता का बड़ा कारण था। अपने पारिवारिक व्यवसाय से जुड़ने के लिये इनके माता-पिता ने इनका विवाह काफी कम उम्र में ही श्रीमती लोना देवी से कर दिया जिसके बाद रविदास को पुत्र रत्न की प्रति हुयी जिसका नाम विजयदास पड़ा।</p>
                        <p>शादी के बाद भी संत रविदास सांसारिक मोह की वजह से पूरी तरह से अपने पारिवारिक व्यवसाय के ऊपर ध्यान नहीं दे पा रहे थे। उनके इस व्यवहार से क्षुब्द होकर उनके पिता ने सांसारिक जीवन को निभाने के लिये बिना किसी मदद के उनको खुद से और पारिवारिक संपत्ति से अलग कर दिया। इस घटना के बाद रविदास अपने ही घर के पीछे रहने लगे और पूरी तरह से अपनी सामाजिक मामलों से जुड़ गये।</p>
                        <h4 class="halantGreen">बाद का जीवन</h4>
                        <p>बाद में रविदास जी भगवान राम के विभिन्न स्वरुप राम, रघुनाथ, राजा राम चन्द्र, कृष्णा, गोविन्द आदि के नामों का इस्तेमाल अपनी भावनाओं को उजागर करने के लिये करने लगे और उनके महान अनुयायी बन गये।</p>
                        <h4 class="halantGreen">बेगमपुरा शहर से उनके संबंध</h4>
                        <p>बिना किसी दुख के शांति और इंसानियत के साथ एक शहर के रुप में गुरु रविदास जी द्वारा बेगमपुरा शहर को बसाया गया। अपनी कविताओं को लिखने के दौरान रविदास जी द्वारा बेगमपुरा शहर को एक आदर्श के रुप में प्रस्तुत किया गया था जहाँ पर उन्होंने बताया कि एक ऐसा शहर जो बिना किसी दुख, दर्द या डर के और एक जमीन है जहाँ सभी लोग बिना किसी भेदभाव, गराबी और जाति अपमान के रहते है। एक ऐसी जगह जहाँ कोई शुल्क नहीं देता, कोई भय, चिंता या प्रताड़ना नहीं हो।</p>
                        <h4 class="halantGreen">मीरा बाई से उनका जुड़ाव</h4>
                        <p>संत रविदास जी को मीरा बाई के आध्यात्मिक गुरु के रुप में माना जाता है जो कि राजस्थान के राजा की पुत्री और चित्तौड़ की रानी थी। वो संत रविदास के अध्यापन से बेहद प्रभावित थी और उनकी बहुत बड़ी अनुयायी बनी। अपने गुरु के सम्मान में मीरा बाई ने कुछ पंक्तियाँ लिखी है-</p>
                        <h4 class="halantGreen">“गुरु मिलीया रविदास जी-”।</h4>
                        <p>वो अपने माता-पिता की एक मात्र संतान थी जो बाद में चितौड़ की रानी बनी। मीरा बाई ने बचपन में ही अपनी माँ को खो दिया जिसके बाद वो अपने दादा जी के संरक्षण में आ गयी जो कि रविदास जी के अनुयायी थे। वो अपने दादा जी के साथ कई बार गुरु रविदास से मिली और उनसे काफी प्रभावित हुयी। अपने विवाह के बाद, उन्हें और उनके पति को गुरु जी से आशीर्वाद प्राप्त हुआ। बाद में मीराबाई ने अपने पति और ससुराल पक्ष के लोगों की सहमति से गुरु जी को अपने वास्तविक गुरु के रुप में स्वीकार किया। इसके बाद उन्होंने गुरु जी के सभी धर्मों के उपदेशों को सुनना शुरु कर दिया जिसने उनके ऊपर गहरा प्रभाव छोड़ा और वो प्रभु भक्ति की ओर आकर्षित हो गयी। कृष्ण प्रेम में डूबी मीराबाई भक्ति गीत गाने लगी और दैवीय शक्ति का गुणगान करने लगी।</p>

                        <h4 class="halantGreen">अपने गीतों में वो कुछ इस तरह कहती थी: </h4>
                        <h4 class="halantGreen"> “गुरु मिलीया रविदास जी दीनी ज्ञान की गुटकी, </h4>
                        <h4 class="halantGreen">चोट लगी निजनाम हरी की महारे हिवरे खटकी”।</h4>
                        दिनों-दिन वो ध्यान की ओर आकर्षित हो रही थी और वो अब संतों के साथ रहने लगी थी। उनके पति की मृत्यु के बाद उनके देवर और ससुराल के लोग उन्हें देखने आये लेकिन वो उन लोगों के सामने बिल्कुल भी व्यग्र और नरम नहीं पड़ी। बल्कि उन्हें तो आधी रात को उन लोगों के द्वारा गंभीरी नदी में फेंक दिया गया था लेकिन गुरु रविदास जी के आशीर्वाद से वो बच गयी।
                        एक बार अपने देवर के द्वारा दिये गये जहरीले दूध को गुरु जी द्वारा अमृत मान कर पी गयी और खुद को धन्य समझा। <h4 class="halantGreen">उन्होंने कहा कि: </h4>
                        “विष को प्याला राना जी मिलाय द्यो
                        मेरथानी ने पाये
                        कर चरणामित् पी गयी रे,
                        गुण गोविन्द गाये”।

                        <h4 class="halantGreen">संत रविदास के जीवन की कुछ महत्वपूर्णं घटनाएँ</h4>
                        एक बार गुरु जी के कुछ विद्यार्थी और अनुयायी ने पवित्र नदी गंगा में स्नान के लिये पूछा तो उन्होंने ये कह कर मना किया कि उन्होंने पहले से ही अपने एक ग्राहक को जूता देने का वादा कर दिया है तो अब वही उनकी प्राथमिक जिम्मेदारी है। रविदास जी के एक विद्यार्थी ने उनसे दुबारा निवेदन किया तब उन्होंने कहा उनका मानना है कि <h4 class="halantGreen"> “मन चंगा तो कठौती में गंगा” </h4>मतलब शरीर को आत्मा से पवित्र होने की जरुरत है ना कि किसी पवित्र नदी में नहाने से, अगर हमारी आत्मा और ह्दय शुद्ध है तो हम पूरी तरह से पवित्र है चाहे हम घर में ही क्यों न नहाये।
                        एक बार उन्होंने अपने एक ब्राहमण मित्र की रक्षा एक भूखे शेर से की थी जिसके बाद वो दोनों गहरे साथी बन गये। हालाँकि दूसरे ब्राहमण लोग इस दोस्ती से जलते थे सो उन्होंने इस बात की शिकायत राजा से कर दी। रविदास जी के उस ब्राहमण मित्र को राजा ने अपने दरबार में बुलाया और भूखे शेर द्वारा मार डालने का हुक्म दिया। शेर जल्दी से उस ब्राहमण लड़के को मारने के लिये आया लेकिन गुरु रविदास को उस लड़के को बचाने के लिये खड़े देख शेर थोड़ा शांत हुआ। शेर वहाँ से चला गया और गुरु रविदास अपने मित्र को अपने घर ले गये। इस बात से राजा और ब्राह्मण लोग बेहद शर्मिंदा हुये और वो सभी गुरु रविदास के अनुयायी बन गये।

                        <h4 class="halantGreen">सामाजिक मुद्दों में गुरु रविदास की सहभागिता </h4>
                        वास्तविक धर्म को बचाने के लिये रविदास जी को ईश्वर द्वारा धरती पर भेजा गया था क्योंकि उस समय सामाजिक और धार्मिक स्वरुप बेहद दु:खद था। क्योंकि इंसानों द्वारा ही इंसानों के लिये ही रंग, जाति, धर्म तथा सामाजिक मान्यताओं का भेदभाव किया जा चुका था। वो बहुत ही बहादुरी के साथ सभी भेदभाव को स्वीकार करते और लोगों को वास्तविक मान्यताओं और जाति के बारे में बताते। वो लोगों को सिखाते कि कोई भी अपने जाति या धर्म के लिये नहीं जाना जाता, इंसान अपने कर्म से पहचाना जाता है। गुरु रविदास जी समाज में अस्पृश्यता के खिलाफ भी लड़े जो उच्च जाति द्वारा निम्न जाति के लोगों के साथ किया जाता था।
                        उनके समय में निम्न जाति के लोगों की उपेक्षा होती थी, वो समाज में उच्च जाति के लोगों की तरह दिन में कहीं भी आ-जा नहीं सकते थे, उनके बच्चे स्कूलों में पढ़ नहीं सकते थे, मंदिरों में नहीं जा सकते थे, उन्हें पक्के मकान के बजाय सिर्फ झोपड़ियों में ही रहने की आजादी थी और भी ऐसे कई प्रतिबंध थे जो बिल्कुल अनुचित थे। इस तरह की सामाजिक समयस्याओं को देखकर गुरु जी ने निम्न जाति के लोगों की बुरी परिस्थिति को हमेशा के लिये दूर करने के लिये हर एक को आध्यात्मिक संदेश देना शुरु कर दिया।
                        उन्होंने लोगों को संदेश दिया कि <h4 class="halantGreen"> “ईश्वर ने इंसान बनाया है ना कि इंसान ने ईश्वर बनाया है” </h4>अर्थात इस धरती पर सभी को भगवान ने बनाया है और सभी के अधिकार समान है। इस सामाजिक परिस्थिति के संदर्भ में, संत गुरु रविदास जी ने लोगों को वैश्विक भाईचारा और सहिष्णुता का ज्ञान दिया। गुरुजी के अध्यापन से प्रभावित होकर चितौड़ साम्राज्य के राजा और रानी उनके अनुयायी बन गये।

                        <h4 class="halantGreen">सिक्ख धर्म के लिये गुरु जी का योगदान</h4>
                        सिक्ख धर्मग्रंथ में उनके पद, भक्ति गीत, और दूसरे लेखन (41 पद) आदि दिये गये थे, गुरु ग्रंथ साहिब जो कि पाँचवें सिक्ख गुरु अर्जन देव द्वारा संकलित की गयी। सामान्यत: रविदास जी के अध्यापन के अनुयायी को रविदासीया कहा जाता है और रविदासीया के समूह को अध्यापन को रविदासीया पंथ कहा जाता है।
                        गुरु ग्रंथ साहिब में उनके द्वारा लिखा गया 41 पवित्र लेख है जो इस प्रकार है; “रागा-सिरी(1), गौरी(5), असा(6), गुजारी(1), सोरथ(7), धनसरी(3), जैतसारी(1), सुही(3), बिलावल(2), गौंड(2), रामकली(1), मारु(2), केदारा(1), भाईरऊ(1), बसंत(1), और मलहार(3)”।

                        <h4 class="halantGreen">ईश्वर के द्वारा उनकी महानता की जाँच की गयी थी</h4>
                        वो अपने समय के महान संत थे और एक आम व्यक्ति की तरह जीवन को जीने की वरीयता देते है। कई बड़े राजा-रानियों और दूसरे समृद्ध लोग उनके बड़े अनुयायी थे लेकिन वो किसी से भी किसी प्रकार का धन या उपहार नहीं स्वीकारते थे। एक दिन भगवान के द्वारा उनके अंदर एक आम इंसान के लालच को परखा गया, एक दर्शनशास्त्री गुरु रविदास जी के पास एक पत्थर ले कर आये और उसके बारे में आश्चर्यजनक बात बतायी कि ये किसी भी लोहे को सोने में बदल सकता सकता है। उस दर्शनशास्त्री ने गुरु रविदास को उस पत्थर को लेने के लिये दबाव दिया और साधारण झोपड़े की जगह बड़ी-बड़ी इमारतें बनाने को कहा। लेकिन उन्होंने ऐसा करने से मना कर दिया।
                        उस दर्शनशास्त्री ने फिर से उस पत्थर को रखने के लिये गुरुजी पर दबाव डाला और कहा कि मैं इसे लौटते वक्त वापस ले लूँगा साथ ही इसको अपनी झोपड़ी के किसी खास जगह पर रखने को कहा। गुरु जी ने उसकी ये बात मान ली। वो दर्शनशास्त्री कई वर्षों बाद लौटा तो पाया कि वो पत्थर उसी तरह रखा हुआ है। गुरुजी के इस अटलता और धन के प्रति इस विकर्षणता से वो बहुत खुश हुए। उन्होंने वो कीमती पत्थर लिया और वहाँ से गायब हो गये। गुरु रविदास ने हमेशा अपने अनुयायीयों को सिखाया कि कभी धन के लिये लालची मत बनो, धन कभी स्थायी नहीं होता, इसके बजाय आजीविका के लिये कड़ी मेहनत करो।
                        एक बार जब उनको और दूसरे दलितों को पूजा करने के जुर्म में काशी नरेश के द्वारा उनके दरबार में कुछ ब्राह्मणों की शिकायत पर बुलाया गया था, तो ये ही वो व्यक्ति थे जिन्होंने सभी गैरजरुरी धार्मिक संस्कारों को हटाने के द्वारा पूजा की प्रकिया को आसान बना दिया। संत रविदास को राजा के दरबार में प्रस्तुत किया गया जहाँ गुरुजी और पंडित पुजारी से फैसले वाले दिन अपने-अपने इष्ट देव की मूर्ति को गंगा नदी के घाट पर लाने को कहा गया।
                        राजा ने ये घोषणा की कि अगर किसी एक की मूर्ति नदी में तैरेगी तो वो सच्चा पुजारी होगा अन्यथा झूठा होगा। दोनों गंगा नदी के किनारे घाट पर पहुँचे और राजा की घोषणा के अनुसार कार्य करने लगे। ब्राह्मण ने हल्के भार वाली सूती कपड़े में लपेटी हुयी भगवान की मूर्ति लायी थी वहीं संत रविदास ने 40 कि.ग्रा की चाकोर आकार की मूर्ती ले आयी थी। राजा के समक्ष गंगा नदी के राजघाट पर इस कार्यक्रम को देखने के लिये बहुत बड़ी भीड़ उमड़ी थी।
                        पहला मौका ब्राह्मण पुजारी को दिया गया, पुजारी जी ने ढ़ेर सारे मंत्र-उच्चारण के साथ मूर्ती को गंगा जी ने प्रवाहित किया लेकिन वो गहरे पानी में डूब गयी। उसी तरह दूसरा मौका संत रविदास का आया, गुरु जी ने मूर्ती को अपने कंधों पर लिया और शिष्टता के साथ उसे पानी में रख दिया जो कि पानी की सतह पर तैरने लगा। इस प्रकिया के खत्म होने के बाद ये फैसला हुआ कि ब्राह्मण झूठा पुजारी था और गुरु रविदास सच्चे भक्त थे।
                        दलितों को पूजा के लिये मिले अधिकार से खुश होकर सभी लोग उनके पाँव को स्पर्श करने लगे। तब से, काशी नरेश और दूसरे लोग जो कि गुरु जी के खिलाफ थे, अब उनका सम्मान और अनुसरण करने लगे। उस खास खुशी के और विजयी पल को दरबार की दिवारों पर भविष्य के लिये सुनहरे अक्षरों से लिख दिया गया।

                        <h4 class="halantGreen">संत रविदास को कुष्ठरोग को ठीक करने के लिये प्राकृतिक शक्ति मिली हुई थी</h4>
                        समाज में उनकी महान प्राकृतिक शक्तियों से भरी गज़ब की क्रिया के बाद ईश्वर के प्रति उनकी सच्चाई से प्रभावित होकर हर जाति और धर्म के लोगों पर उनका प्रभाव पड़ा और सभी गुरु जी के मजबूत विद्यार्थी, अनुयायी और भक्त बन गये। बहुत साल पहले उन्होंने अपने अनुयायीयों को उपदेश दिया था और तब एक धनी सेठ भी वहाँ पहुँचा मनुष्य के जन्म के महत्व के ऊपर धार्मिक उपदेश को सुनने के लिये।
                        धार्मिक उपदेश के अंत में गुरु जी ने सभी को प्रसाद के रुप में अपने मिट्टी के बर्तन से पवित्र पानी दिया। लोगों ने उसको ग्रहण किया और पीना शुरु किया हालाँकि धनी सेठ ने उस पानी को गंदा समझ कर अपने पीछे फेंक दिया जो बराबर रुप से उसके पैरों और जमींन पर गिर गया। वो अपने घर गया और उस कपड़े को कुष्ठ रोग से पीड़ित एक गरीब आदमी को दे दिया। उस कपड़े को पहनते ही उस आदमी के पूरे शरीर को आराम महसूस होने लगा जबकि उसके जख्म जल्दी भरने लगे और वो जल्दी ठीक हो गया।
                        हालाँकि धनी सेठ को कुष्ठ रोग हो गया जो कि महँगे उपचार और अनुभवी और योग्य वैद्य द्वारा भी ठीक नहीं हो सका। उसकी स्थिति दिनों-दिन बिगड़ती चली गयी तब उसे अपनी गलतियों का एहसास हुआ और वो गुरु जी के पास माफी माँगने के लिये गया और जख्मों को ठीक करने के लिये गुरु जी से वो पवित्र जल प्राप्त किया। चूँकि गुरु जी बेहद दयालु थे इसलिये उसको माफ करने के साथ ही ठीक होने का ढ़ेर सारा आशीर्वाद भी दिया। अंतत: वो धनी सेठ और उसका पूरा परिवार संत रविदास का भक्त हो गया।

                        <h4 class="halantGreen">संत रविदास का सकारात्मक नज़रिया</h4>
                        उनके समय में शुद्रों (अस्पृश्य) को ब्राह्मणों की तरह जनेऊ, माथे पर तिलक और दूसरे धार्मिक संस्कारों की आजादी नहीं थी। संत रविदास एक महान व्यक्ति थे जो समाज में अस्पृश्यों के बराबरी के अधिकार के लिये उन सभी निषेधों के खिलाफ थे जो उन पर रोक लगाती थी। उन्होंने वो सभी क्रियाएँ जैसे जनेऊ धारण करना, धोती पहनना, तिलक लगाना आदि निम्न जाति के लोगों के साथ शुरु किया जो उन पर प्रतिबंधित था।
                        ब्राह्मण लोग उनकी इस बात से नाराज थे और समाज में अस्पृश्यों के लिये ऐसे कार्यों को जाँचने का प्रयास किया। हालाँकि गुरु रविदास जी ने हर बुरी परिस्थिति का बहादुरी के साथ सामना किया और बेहद विनम्रता से लोगों का जवाब दिया। अस्पृश्य होने के बावजूद भी जनेऊ पहनने के कारण ब्राह्मणों की शिकायत पर उन्हें राजा के दरबार में बुलाया गया। वहाँ उपस्थित होकर उन्होंने कहा कि अस्पृश्यों को भी समाज में बराबरी का अधिकार मिलना चाहिये क्योंकि उनके शरीर में भी दूसरों की तरह खून का रंग लाल और पवित्र आत्मा होती है
                        संत रविदास ने तुरंत अपनी छाती पर एक गहरी चोट की और उस पर चार युग जैसे सतयुग, त्रेतायुग, द्वापर और कलयुग की तरह सोना, चाँदी, ताँबा और सूती के चार जनेऊ खींच दिया। राजा समेत सभी लोग अचंभित रह गये और गुरु जी के सम्मान में सभी उनके चरणों को छूने लगे। राजा को अपने बचपने जैसे व्यवहार पर बहुत शर्मिंदगी महसूस हुयी और उन्होंने इसके लिये माफी माँगी। गुरु जी ने सभी माफ करते हुए कहा कि जनेऊ धारण करने का ये मतलब नहीं कि कोई भगवान को प्राप्त कर लेता है। इस कार्य में वो केवल इसलिये शामिल हुए ताकि वो लोगों को वास्तविकता और सच्चाई बता सके। गुरु जी ने जनेऊ निकाला और राजा को दे दिया इसके बाद उन्होंने कभी जनेऊ और तिलक का इस्तेमाल नहीं किया।

                        <h4 class="halantGreen">कुंभ उत्सव पर एक कार्यक्रम</h4>
                        एक बार पंडित गंगा राम गुरु जी से मिले और उनका सम्मान किया। वो हरिद्वार में कुंभ उत्सव में जा रहे थे गुरु जी ने उनसे कहा कि ये सिक्का आप गंगा माता को दे दीजीयेगा अगर वो इसे आपके हाथों से स्वीकार करें। पंजित जी ने बड़ी सहजता से इसे ले लिया और वहाँ से हरिद्वार चले गये। वो वहाँ पर नहाये और वापस अपने घर लौटने लगे बिना गुरु जी का सिक्का गंगा माता को दिये।
                        वो अपने रास्ते में थोड़ा कमजोर होकर बैठ गये और महसूस किया कि वो कुछ भूल रहे हैं, वो दुबारा से नदी के किनारे वापस गये और जोर से चिल्लाए माता, गंगा माँ पानी से बाहर निकली और उनके अपने हाथ से सिक्के को स्वीकार किया। माँ गंगा ने संत रविदास के लिये सोने के कँगन भेजे। पंडित गंगा राम घर वापस आये वो कँगन गुरु जी के बजाय अपनी पत्नी को दे दिया।
                        एक दिन पंडित जी की पत्नी उस कँगन को बाजार में बेचने के लिये गयी। सोनार चालाक था, सो उसने कँगन को राजा और राजा ने रानी को दिखाने का फैसला किया। रानी ने उस कँगन को बहुत पसंद किया और एक और लाने को कहा। राजा ने घोषणा की कि कोई इस तरह के कँगन नहीं लेगा, पंडित अपने किये पर बहुत शर्मिंदा था क्योंकि उसने गुरुजी को धोखा दिया था। वो रविदास जी से मिला और माफी के लिये निवेदन किया। गुरु जी ने उससे कहा कि “मन चंगा तो कठौती में गंगा” ये लो दूसरे कँगन जो पानी से भरे जल में मिट्टी के बर्तन में गंगा के रुप में यहाँ बह रही है। गुरु जी की इस दैवीय शक्ति को देखकर वो गुरु जी का भक्त बन गया।

                        <h4 class="halantGreen">उनके पिता के मौत के समय की घटना </h4>
                        रविदास की पिता की मृत्यु के बाद उन्होंने अपने पड़ोसियों से विनती की कि वो गंगा नदी के किनारे अंतिम रिवाज़ में मदद करें। हालाँकि ब्राह्मण रिती के संदर्भ में खिलाफ थे कि वो गंगा के जल से स्नान करेंगे जो रस्म की जगह से मुख्य शहर की ओर जाता है और वो प्रदूषित हो जायेगा। गुरु जी बहुत दुखी और मजबूर हो गये हालाँकि उन्होंने कभी भी अपना धैर्य नहीं खोया और अपने पिता की आत्मा की शांति के लिये प्रार्थना करने लगे। अचानक से वातावरण में एक भयानक तूफान आया और नदी का पानी उल्टी दिशा में बहना प्रारंभ हो गया और जल की एक गहरी तरंग आयी और लाश को अपने साथ ले गयी। इस भवंडर ने आसपास की सभी चीजों को सोख लिया। तब से, गंगा का पानी उल्टी दिशा में बह रहा है।

                        <h4 class="halantGreen">कैसे बाबर प्रभावित हुए रविदास के अध्यापन से</h4>
                        इतिहास के अनुसार बाबर मुगल साम्राज्य का पहला राजा था जो 1526 में पानीपत का युद्ध जीतने के बाद दिल्ली के सिहांसन पर बैठा जहाँ उसने भगवान के भरोसे के लिये लाखों लोगों को कुर्बान कर दिया। वो पहले से ही संत रविदास की दैवीय शक्तियों से परिचित था और फैसला किया कि एक दिन वो हुमायुँ के साथ गुरु जी से मिलेगा। वो वहाँ गया और गुरु जी को सम्मान देने के लिये उनके पैर छूए हालाँकि; आशीर्वाद के बजाय उसे गुरु जी से सजा मिली क्योंकि उसने लाखों निर्दोष लोगों की हत्याएँ की थी। गुरु जी ने उसे गहराई से समझाया जिसने बाबर को बहुत प्रभावित किया और इसके बाद वो भी संत रविदास का अनुयायी बन गया तथा दिल्ली और आगरा के गरीबों की सेवा के द्वारा समाज सेवा करने लगा।
                        संत रविदास की मृत्यु
                        समाज में बराबरी, सभी भगवान एक है, इंसानियत, उनकी अच्छाई और बहुत से कारणों की वजह से बदलते समय के साथ संत रविदास के अनुयायीयों की संख्या बढ़ती ही जा रही थी। दूसरी तरफ, कुछ ब्राह्मण और पीरन दित्ता मिरासी गुरु जी को मारने की योजना बना रहे थे इस वजह से उन लोगों ने गाँव से दूर एक एकांत जगह पर मिलने का समय तय किया। किसी विषय पर चर्चा के लिये उन लोगों ने गुरु जी को वहाँ पर बुलाया जहाँ उन्होंने गुरु जी की हत्या की साजिश रची थी हालाँकि गुरु जी को अपनी दैवीय शक्ति की वजह से पहले से ही सब कुछ पता चल गया था
                        जैसे ही चर्चा शुरु हुई, गुरु जी उन्ही के एक साथी भल्ला नाथ के रुप में दिखायी दिये जो कि गलती से तब मारा गया था। बाद में जब गुरु जी ने अपने झोपड़े में शंखनाद किया, तो सभी हत्यारे गुरु जी को जिंदा देख भौंचक्के रह गये तब वो हत्या की जगह पर गये जहाँ पर उन्होंने संत रविदास की जगह अपने ही साथी भल्ला नाथ की लाश पायी। उन सभी को अपने कृत्य पर पछतावा हुआ और वो लोग गुरु जी से माफी माँगने उनके झोपड़े में गये।
                        हालाँकि, उनके कुछ भक्तों का मानना है कि गुरु जी की मृत्यु प्राकृतिक रुप से 120 या 126 साल में हो गयी थी। कुछ का मानना है उनका निधन वाराणसी में 1540 एडी में हुआ था।

                        गुरु रविदास जी के लिये स्मारक
                        <h4 class="halantGreen">वाराणसी में श्री गुरु रविदास पार्क</h4>
                        वाराणसी में श्री गुरु रविदास पार्क है जो नगवा में उनके यादगार के रुप में बनाया गया है जो उनके नाम पर <h4 class="halantGreen"> “गुरु रविदास स्मारक और पार्क” </h4>बना है

                        <h4 class="halantGreen">गुरु रविदास घाट</h4>
                        वाराणसी में पार्क से बिल्कुल सटा हुआ उनके नाम पर गंगा नदी के किनारे लागू करने के लिये गुरु रविदास घाट भी भारतीय सरकार द्वारा प्रस्तावित है

                        <h4 class="halantGreen">संत रविदास नगर</h4>
                        ज्ञानपुर जिले के निकट संत रविदास नगर है जो कि पहले भदोही नाम से था अब उसका नाम भी संत रविदास नगर है।

                        <h4 class="halantGreen">श्री गुरु रविदास जन्म स्थान मंदिर वाराणसी</h4>
                        इनके सम्मान में सीर गोवर्धनपुर, वाराणसी में श्री गुरु रविदास जन्म स्थान मंदिर स्थित है, जो इनके सम्मान में बनाया गया है पूरी दुनिया में इनके अनुयायीयों द्वारा चलाया जाता है जो अब प्रधान धार्मिक कार्यालय के रुप में है।

                        <h4 class="halantGreen">श्री गुरु रविदास स्मारक गेट</h4>
                        वाराणसी के लंका चौराहे पर एक बड़ा गेट है जो इनके सम्मान में बनाया गया है।
                        इनके नाम पर देश के साथ ही विदेशों मे भी स्मारक बनाये गये है।








                    </div>
                </div>
            </div>
        </div>
    </div>

