@{

}

<style type="text/css">
   .active {
   background-color:darkseagreen; color:#000;
}
</style>

<section id="sliderbar" class="mb-3">   
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
        </ul>
        <div class="carousel-inner">

            <div class="carousel-item active">              
                <img src="~/Img/SLIDE-1.png" class="img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="~/Img/SLIDE-2.png" class="img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="~/Img/SLIDE-3.png" class="img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="~/Img/SLIDE-4.png" class="img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="~/Img/SLIDE-5.png" class="img-fluid" />
            </div>
            <div class="carousel-item">
                <img src="~/Img/SLIDE-6.png" class="img-fluid" />
            </div>


            @*<div class="carousel-item">
            <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Chicago</h3>
                <p>Thank you, Chicago!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="ny.jpg" alt="New York" width="1100" height="500">
            <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
            </div>
        </div>*@
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>  
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card ">
                    <div class="card-body">

                        <div id="media-border" class="media mb-2">
                            <img src="~/Img/Media01.jpg" class="mr-4" alt="Mobile" />
                            <div class="media-body">
                                <h5 class="mt-0">पदभार ग्रहण कर कार्य आरंभ</h5>
                                आज भारतीय जनता पार्टी केन्द्रीय कार्यालय दिल्ली में अनुसूचित जाति मोर्चा के राष्ट्रीय अध्यक्ष का पदभार ग्रहण कर कार्य आरंभ किया।इस अवसर पर पार्टी के राष्ट्रीय महामंत्री श्री दुष्यन्त गौतम जी का मार्गदर्शन प्राप्त हुआ।.
                                <br />
                                <p class="float-right" style="color:grey">04-10-2020</p>
                            </div>
                        </div>

                        <div id="media-border" class="media mb-2">
                            <img src="~/Img/Media02.jpg" class="mr-4" alt="Mobile" />
                            <div class="media-body">
                                <h5 class="mt-0">गुरू गोविन्द सिंह जी के बलिदान दिवस</h5>
                                खालसा पंथ के संस्थापक,अदम्य साहसी,कुशल रणनीतिकार,उत्कृष्ट त्याग की प्रेरणा,भारत माता की रक्षा के लिए पिता,चार बेटों और स्वयं का बलिदान करने वाले हम सब के श्रृध्दा के केन्द्र पूज्य गुरू गोविन्द सिंह जी के बलिदान दिवस पर उनके चरणों में शत शत नमन्.
                                <br />
                                <p class="float-right" style="color:grey">07-10-2020</p>
                            </div>
                        </div>

                        <div id="media-border" class="media mb-2">
                            <img src="~/Img/Media03.jpg" class="mr-4" alt="Mobile" />
                            <div class="media-body">
                                <h5 class="mt-0">अनुसूचित जाति समाज के सम्मेलन</h5>
                                आज ग्वालियर विधानसभा में अनुसूचित जाति समाज के सम्मेलन में सम्मिलित हुआ।साथ में भाजपा प्रत्याशी श्री प्रद्युम्न सिंह तोमर,अनुसूचित जाति मोर्चा के प्रदेश अध्यक्ष श्री सूरज कैरो,भाजपा जिलाध्यक्ष श्री कमल माखीजानी विशेष रूप से उपस्थित रहें।.
                                <br />
                                <p class="float-right" style="color:grey">08-10-2020</p>
                            </div>
                        </div>

                        <div id="media-border" class="media mb-2">
                            <img src="~/Img/Media04.jpg" class="mr-4" alt="Mobile" />
                            <div class="media-body">
                                <h5 class="mt-0">वायुसेना अपना 88 वां स्थापना दिवस.</h5>
                                अपने अदम्य साहस और पराक्रम से विश्व में भारत का गौरव बडाने वाली युद्धों में दुश्मन देशों को धूल चटाने वाली व सफलता पूर्वक पाकिस्तान पर एयर स्ट्राइक करने वाली भारतीय वायु सेना दिवस की सभी देशवासियों को बहुत-बहुत शुभकामनाऐं। वंदेमातरम्।
                                <br />
                                <p class="float-right" style="color:grey">08-10-2020</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="row">
                        <div class="col-md-3 col-3 my-auto">
                            <img src="~/Img/logo.png" class="img-fluid ml-2" />                           
                        </div>
                        <div class="col-md-9 col-9">
                            <h5 class="card-title">BJP SC Mourha</h5>
                            <p class="card-text">लाल सिंह आर्य - राष्ट्रीय अध्यक्ष-भाजपा, अनुसूचित जाति मोर्चा.</p>
                        </div>
                    </div>   
                    <hr />
                    <div id="left-menubar">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Programs</a></li>
                            <li class="list-group-item"><a href="#">Events</a></li>
                            <li class="list-group-item"><a href="#">News</a></li>
                            <li class="list-group-item"><a href="#">Gallery</a></li>
                            <li class="list-group-item"><a href="#">Download</a></li>
                            <li class="list-group-item"><a href="#">Connect To</a></li>
                            <li class="list-group-item"><a href="#">Facebook</a></li>
                            <li class="list-group-item"><a href="#">Twiter</a></li>
                        </ul>
                    </div>
                    
                    @*<div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-3">
        <div class="jumbotron">
            <h1>श्री लाल सिंह आर्य</h1>
            <p>श्री लाल सिंह आर्य जी का जन्म 15 जून 1964 में, भिण्ड जिले के एक अति गरीब परिवार में हुआ जहॉ उनके स्वर्गीय पिता श्री फुलजारी लाल आर्य एक बड़े परिवार का भरण पोषण करने के लिए मजदूरी किया करते थे।</p>
            <p>भाई बहनों में सबसे बड़े लाल सिंह आर्य जी को पढाई के साथ-साथ खेल कूंद में भी बहुत रूचि थी। शिक्षा के क्षेत्र में उन्होंने (बी.ए.) एवं (एल. एल. बी.) की उपाधि प्राप्त की है । खेल कूद के क्षेत्र में उन्हें कबड्डी से अति प्रेम रहा और शायद यहीं खेल के प्रति प्रेम की भावना की वजह से उनमे सभी को साथ लेकर चलने, संगठित रखने एवं कबड्डी की तरह ही अपने साथियों को पुनर्जीवित करने को काबिलियत जागी।</p>
            <a href="@Url.Action("LalSinghArya", "StaticContent")" class="float-right">Read More...</a>
</div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12 text-center bottom-line">           
            <h2 class="text-main-heading">मुख्य प्रेरणाश्रोत</h2>           
        </div>       
    </div>
    <div class="row mt-5 ">
        <div class="col-md-4 text-center">
            <img src="~/Img/01DrShyama.jpg" class="img-fluid rounded-circle mb-3"/>                    
            <h3 class="text-sub-heading">डॉ श्यामा प्रसाद मुखर्जी</h3>
            <p>भारतीय जनता पार्टी, भारतीय जनसंघ की उत्तराधिकारी है जिसका 1977 में जनता पार्टी में विलय हो गया था | जनता पार्टी के आतंरिक मतभेदों के फलस्वरूप 1979 में जनता पार्टी सरकार गिरने के पश्चात 1980 में भारतीय जनता पार्टी का एक स्वतंत्र दल के रूप में उदय हुआ <a href="@Url.Action("DrShyamaPrasadMukherjee", "StaticContent")">Read More...</a></p>
            
        </div>
        <div class="col-md-4 text-center">
            <img src="~/Img/02DeeanDayal.jpg"  class="img-fluid rounded-circle mb-3"/>             
            <h3 class="text-sub-heading">पंडित दीनदयाल उपाध्याय</h3>
            <p>पंडित दीनदयाल उपाध्याय सन १९५३ से १९६८ तक भारतीय जनसंघ के नेता रहे | एक गम्भीर दार्शनिक एवं गहन चिंतक होने के साथ-साथ वह एक ऐसे समर्पित संगठनकरता और नेता थे जिन्होंने सार्वजनिक जीवन में व्यक्तिगत शुचिता एवं गरिमा के  <a href="@Url.Action("PanditDeendayalUpadhyay", "StaticContent")">Read More...</a></p>
        </div>
        <div class="col-md-4 text-center">
            <img src="~/Img/03AtalJi.jpg" class="img-fluid rounded-circle mb-3" />                   
            <h3 class="text-sub-heading">अटल बिहारी वाजपेयी जी</h3>
            <p>Atal Bihari Vajpayee (Atal jee, as he is fondly called by the people of India) served as the Prime Minister of India thrice — first in 1996 ( May 16-31) and later for two consecutive terms between <a href="@Url.Action("AtalBihariVajpayee", "StaticContent")">Read More...</a></p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row mt-3">
        <div class="col-md-12 text-center bottom-line">
            <h2 class="text-main-heading">कार्यक्रम पिक्चर्स</h2>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <a href="#">
                        <img src="~/Img/Program1.jpg" class="img-fluid" />
                        <p>अशोकनगर  विधानसभा</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <a href="#">
                        <img src="~/Img/Program2.jpg" class="img-fluid" />
                        <p>करैरा विधानसभा</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <a href="#">
                        <img src="~/Img/Program3.jpg" class="img-fluid" />
                        <p>जौरा विधानसभा</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <a href="#">
                        <img src="~/Img/Program3.jpg" class="img-fluid" />
                        <p>सुमावली विधानसभा</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <a href="#">
                        <img src="~/Img/Program5.jpg" class="img-fluid" />
                        <p>भाण्डेर विधानसभा</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body text-center">
                    <a href="#">
                        <img src="~/Img/Program6.jpg" class="img-fluid" />
                        <p>डबरा  विधानसभा </p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>



